.t4s-desc-collection {
    margin-bottom: 50px;
    margin-top: 50px;
}
.t4s-collection-header {
   margin: 20px 0;
   align-items: flex-start;
}
.t4s-collection-header > * {
    margin-right: 20px;
}
.t4s-collection-header >:first-child,
.t4s-collection-header >:last-child { 
   display: flex;
   align-items: center;
}
.t4s-collection-header >:first-child {
    justify-content: flex-start;
    flex: 1 1 auto;
}
.t4s-collection-header >:last-child{
    justify-content: flex-end;
    margin: 0;
}

.t4s-collection-header .t4s-dropdown__sortby button[data-dropdown-open] {
    border: none;
    border-bottom: solid 2px var(--border-color);
    border-radius: 0;
    padding: 0;
    min-width: 120px;
    z-index: 8;
    font-size: 13px;
    min-height: 28px;
    color: var(--secondary-color);
    padding-right: 14px;
}
.t4s-dropdown__sortby .t4s-icon-select-arrow {
    right: 0;
}
/*Filter collection*/
.t4s-active-filters {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 15px;
    color: var(--secondary-color);
    font-family: AeonikPro-regular;
}
.t4s-active-filters > *:not(:last-child){
    margin-inline-end: 15px;
    padding-inline-end: 15px;
    border-right: 1px solid var(--border-color);
    margin-bottom: 10px;
  font-family: AeonikPro-regular;
}
.rtl_true .t4s-active-filters > *:not(:last-child){
    border-right: 0;
    border-left: 1px solid var(--border-color);
  font-family: AeonikPro-regular;
}
.t4s-active-filters .t4s-active-filters__count > span {
    color: var(--accent-color);
  font-family: AeonikPro-regular;
}
.t4s-active-filters a {
    position: relative;
    padding-left: 16px;
    display: inline-block;
    vertical-align: top;
    color: var(--secondary-color);
}
.t4s-active-filters a::before,
.t4s-active-filters a::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    margin-top: -1px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.t4s-active-filters a::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.t4s-active-filters .t4s-active-filters__clear {
    color: var(--t4s-light-color);
    background-color: var(--accent-color);
    padding: 0 15px 0 25px;
    border-radius: 15px;
    font-size: 15px;
}
.t4s-active-filters .t4s-active-filters__clear::before,
.t4s-active-filters .t4s-active-filters__clear::after {
    left: 8px;
}

.t4s-section-main .is--enabled.is--loading {
    opacity: 0.5;
    pointer-events: none;
}
.t4s-layout-switch-wrapper:not(.t4s-has-list-view) button[data-col="list_t4s"] {
    display: none;
}
.t4s-layout-switch-wrapper .t4s-layout__switch {
    --switch-layout-color:  var(--text-color);    
    align-items: center;
    vertical-align: top;
    border: solid 1px var(--border-color);
    padding: 8px 10px;
    border-radius: var(--other-radius);
    display: flex;
}
.t4s-layout-switch-wrapper button {
    display: inline-flex;
    color: var(--text-color);
}
.t4s-layout-switch-wrapper .is--active {
--switch-layout-color: var(--secondary-color); 
}
.t4s-layout-switch-wrapper span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--switch-layout-color);
    margin: 0 5px;
    transition: .25s
}
.t4s-layout-switch-wrapper span > svg {
    height: 17px;
    fill: currentcolor;
}
.t4s-layout-switch-wrapper button:first-child > span {
    margin-left: 0;
}
.t4s-layout-switch-wrapper button:last-child > span {
    margin-right: 0;
}
.t4s-layout-switch-wrapper button.is--active {
    pointer-events: none
}
.t4s-layout-switch-wrapper .t4s_icon_viewlist:before {
    right: 2px;
    height: 5px;
    width: 23px;
    box-shadow: 0 7.3px 0 var(--switch-layout-color), 0 15.1px 0 var(--switch-layout-color)
}
.t4s-layout-switch-wrapper .t4s-layout__switch.is--desktop button[data-col="1"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--desktop button[data-col="2"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--tablet button[data-col="1"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--tablet button[data-col="5"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--tablet button[data-col="6"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--mobile button[data-col="3"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--mobile button[data-col="4"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--mobile button[data-col="5"],
.t4s-layout-switch-wrapper .t4s-layout__switch.is--mobile button[data-col="6"] {
    display: none;
}

.t4s-layout-switch-wrapper .t4s_icon_view1:before {
    width: 22px
}
.t4s-layout-switch-wrapper .t4s_icon_view2:before {
    box-shadow: 13px 0 0 var(--switch-layout-color), 13px 0 0 var(--switch-layout-color)
}
.t4s-layout-switch-wrapper .t4s_icon_view3:before {
    box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0 var(--switch-layout-color)
}
.t4s-layout-switch-wrapper .t4s_icon_view4:before {
    box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0 var(--switch-layout-color), 39px 0 0 var(--switch-layout-color)
}
.t4s-layout-switch-wrapper .t4s_icon_view5:before {
    box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0 var(--switch-layout-color), 39px 0 0 var(--switch-layout-color), 52px 0 0 var(--switch-layout-color)
}
.t4s-layout-switch-wrapper .t4s_icon_view6:before {
    box-shadow: 13px 0 0 var(--switch-layout-color), 26px 0 0 var(--switch-layout-color), 39px 0 0 var(--switch-layout-color), 52px 0 0 var(--switch-layout-color), 65px 0 0 var(--switch-layout-color)
}

.t4s-btn-filter-wrapper .t4s-btn-filter {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
.t4s-btn-filter svg {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-inline-end: 5px; 
    position: relative;
    top: 2px;
    fill: currentcolor;
}
.rtl_true .t4s-btn-filter svg { margin-right: 0;margin-left: 5px; }

.t4s-prs-head {
    margin-bottom: 40px;
}
/*SEARCH PAGES*/
.t4s-coll-empty  {
    margin: 140px 0;
}
.t4s-coll-empty .t4s-icon--search {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}
.t4s-no-result-product {
    color: var(--t4s-warning-color);
    border: 2px solid rgba(var(--t4s-warning-color-rgb), .5);
    border-radius: 0;
    overflow: hidden;
    margin: 20px 0 0;
    padding: 14px 25px 14px 55px;
    line-height: 1.4;
    position: relative;
    font-size: 14px;
}
.t4s-no-result-product > svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin-right: 15px;
    fill: currentColor;
    width: 18px;
    height: 18px;
}
.t4s-results-prs {
    background-color: #f9f9f9;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    padding: 15px;
    margin: 0 0 30px;
    border: 1px solid var(--t4s-success-color);
    color: var(--t4s-success-color);
}
.t4s-search-suggest .t4s-search-suggest-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--heading-color );
    margin-bottom: 28px;
    line-height: 1.25;
}
.t4s-search-suggest .t4s-widget__pr {
    text-align: center;
}
.t4s-search-suggest .t4s-widget__pr .t4s-widget_img_pr {
    padding: 0;
}
.t4s-search-suggest .t4s-widget__pr .t4s-widget_if_pr {
    padding-top: 15px;
}

.t4s-search-suggest .t4s-search-suggest-bottom {
    border-top: solid 1px var(--border-color);
    margin-top: 30px;
    margin-bottom: 50px;
}
.t4s-search-suggest .t4s-viewall-btn {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--secondary-color );
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}
.t4s-search-suggest .t4s-viewall-btn svg{
    width: 18px;
    height: 18px;
    transition: 0.5s ease 0s;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.t4s-search-suggest .t4s-widget__pr .t4s-widget__pr-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-color );
}
.t4s-search-suggest .t4s-widget__pr .t4s-widget__pr-title:hover {
    color: var(--accent-color);
}
.t4s-search-suggest .t4s-widget__pr .t4s-widget__pr-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--secondary-price-color);
}
.t4s-search-suggest .t4s-widget__pr .t4s-widget__pr-price del {
    font-size: 13px;
    margin-right: 5px;
    color: var(--secondary-price-color);
}
.t4s-search-suggest .t4s-widget__pr .t4s-widget__pr-price ins {
    color: var(--sale-price-color);
}
.t4s-search-form {
    margin: 20px auto 42px;
    display: flex;
    position: relative;
}
.t4s-search-form select.t4s-truncate {
    font-size: 13px;
    font-weight: 500;
    color: var(--secondary-color);
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: solid 2px rgba(var(--border-color-rgb),2);
    border-radius: 0;
    line-height: 45px;
    height: 45px;
    min-width: 210px;
    width: auto;
    background-image: none;
}
.t4s-search-form .t4s-search-form__input-wrapper {
    position: relative;
    padding-right: 35px;
    border-bottom: solid 2px rgba(var(--border-color-rgb),2);
    margin-left: 30px;
}

.t4s-search-form .t4s-search-form__input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    padding: 4px 0;
}


.t4s-search-form .t4s-search-form__connected-submit {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    appearance: none;
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    background: transparent;
    border: none;
    line-height: inherit;
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t4s-search-form .t4s-search-form__connected-submit:hover {
    color: var(--accent-color);
    background-color: transparent;
}
.t4s-search-form .t4s-search-form__connected-submit svg {
    width: 18px;
    height: 18px;
}
.t4s-search-page .t4s-pagination-wrapper {
    margin-bottom: 0;
}
.input-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}

.input-group--nowrap {
    flex-wrap: nowrap
}

.input-group__field {
    -ms-flex-preferred-size: 15rem;
    -webkit-flex-basis: 15rem;
    -moz-flex-basis: 15rem;
    flex-basis: 15rem;
    flex-grow: 9999;
    margin-bottom: 0;
    border-radius: 2px 0 0 2px;
    text-align: left
}

.t4s-search-form__clear-action {
    appearance: none;
    margin: -12px 0 0;
    padding: 0;
    background: 0 0;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition-property: opacity, visibility, background-color, transform;
    transition-duration: .1s;
    transition-timing-function: ease-in-out
}

.search--less-than-2-results {
    height: 40vh
}

.t4s-search-form__input::-webkit-search-cancel-button {
    display: none
}

@media (min-width: 768px) {
    .t4s-coll-empty  {
        margin: 200px 0;
    }
}
@media (max-width: 767px) { 
    .t4s-results-prs {
        font-size: 16px;
        padding: 5px 10px;
    }
    .t4s-dropdown__sortby .t4s-icon-select-arrow {
        right: 0;
    }
    .t4s-collection-header > *:not(:last-child) {
        margin-right: 15px;
    }
    .t4s-collection-header .t4s-dropdown__sortby {
        min-width: 120px;
        justify-content: flex-end;
        display: flex;
    }
    .t4s-collection-header .t4s-dropdown__sortby button[data-dropdown-open] {
            min-width: 44px;
    }
}
@media (max-width: 1024px) { 
    .t4s-collection-header {
        align-items: center;
    }
}


/*Widget*/
.widget .widget-title {
    position: relative;
    padding-bottom: 20px;
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
}
.widget .widget-title::after {
    content: "";
    width: 60px;
    height: 2px;
    background: #222;
    left: 0;
    bottom: 15px;
    position: absolute;
}
.widget ul {
    list-style: none;
}
.widget ul li {
    line-height: 25px;
    list-style: none;
    margin-bottom: 5px;
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {
    .t4s-active-filters a:hover::before,
    .t4s-active-filters a:hover::after {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .t4s-active-filters a:hover {
        color: var(--accent-color);
    }
    .t4s-active-filters .t4s-active-filters__clear:hover {
        color: var(--t4s-light-color);
        background-color: var(--accent-color);
    }
    .t4s-search-suggest .t4s-viewall-btn:hover {
        color: var(--accent-color);
    }
    .t4s-search-suggest .t4s-viewall-btn:hover svg {
        margin-left: 10px;
    }
    .t4s-layout-switch-wrapper button:hover {
        --switch-layout-color: var(--secondary-color); 
    }
    .t4s-search-form__connected-submit:hover {
        background-color: var(--button-background-hover);
        color: var(--button-color-hover);
    }
}