.promo-banner-section {
  position: relative;
  display: block;
  width: 100%;
}

.promo-banner-inner {
  margin: auto;
  line-height: 1;
}

.promo-banner-expanded {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  height: 480px !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.promo-banner-expanded-left {
  margin: 0 2rem;
  text-align: center;
}

.promo-banner-expanded-right {
  flex: none;
  flex-basis: 318px;
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-banner-expanded-percentage-off-block {
  display: flex;
  align-items: center;
}

.promo-banner-expanded-sale_product_text {
  margin-bottom: 8px;
  text-align: center;
}

.promo-banner-expanded-cta {
  padding: 8px 1.25rem;
  min-width: 148px;
  display: inline-block;
  border-radius: 0.25rem;
  margin-bottom: 16px;
  text-align: center;
  cursor: pointer;
  text-transform: none;
}

.promo-banner-expanded-percentage-off-block-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-banner-expanded-sale_end_text {
  text-align: center;
}

.promo-banner-expanded-heading {
  line-height:
}

.promo-banner-collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  height: 80px !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

body:not(.promobannercollapsed) .promo-banner-collapsed {
  opacity: 0;
}

body .promo-banner-collapsed {
    z-index: 999;
}

body.promobannercollapsed .promo-banner-expanded {
  opacity: 0;
}

.promo-banner-collapsed-collapsed_section_text {
  margin: 0 50px;
}

.promo-banner-collapsed-collapsed_section_text p {
  margin: 0;
}

.promo-banner-collapsed-cta {
  padding: 8px 1.25rem;
  min-width: 148px;
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  text-transform: none;
}

body:not(.banner-visited) {
  margin-top: 480px !important;
}

body.haspromobanner header {
    position:sticky;
    top: 80px !important;
    z-index: 999;
}

.the4-loading {
    height: 0;
}

@media (max-width: 1024px) {
  .promo-banner-expanded {
    padding: 80px 20px;
    display: block;
    height: 600px !important;
  }

  .promo-banner-collapsed-collapsed_section_text {
    margin-left: 0;
    margin-right: 20px;
    flex: 1;
  }

  .promo-banner-collapsed-cta {
    min-width: unset;
    padding: 12px 1.25rem;
  }

  .promo-banner-expanded-sale_product_text {
    text-align: center;
  }

  body:not(.banner-visited) {
    margin-top: 600px !important;
  }
}
