.t4s-opening-qs .t4s-modal__inner {
    max-width: 620px;
    max-height: 560px;
}
.t4s-opening-qs button.t4s-modal-close { 
    top: 10px;
    right: 20px;
    background-color: transparent;
    color: var(--t4s-dark-color);
}
.t4s-opening-qs button.t4s-modal-close svg {
    transition: 0.5s ease 0s;
    width: 20px;
    height: 20px;
}
.t4s-product-quick-shop .t4s-product-form__buttons a{ display: none }

.t4s-product-quick-shop {
    padding: 25px 25px 0;
    background-color: var(--t4s-light-color);
}
.t4s-product-quick-shop .t4s-product-form__submit {
    width: 100%;
}
.is-no-pick__true .t4s-product-price {
    display: none;
}
.t4s-price__unit {
    margin-top: 5px;
    font-size: calc(var(--price-size) * 0.75);
}
.t4s-product-quick-shop .t4s-product-form__buttons .t4s-pr__qty_cart {
    justify-content: center;
}
/* t4s-product-form__buttons */
.t4s-product-quick-shop .t4s-product-form__variants,
.t4s-view-products {
    /*margin-bottom: 15px;*/
}
.t4s-view-products a {
    font-size: 13px;
    color: var(--secondary-color);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    line-height: 40px;
}
.t4s-view-products a svg {
    fill: currentcolor;
    width: 17px;
    height: 17px;
    stroke-width: 2px;
    margin-left: 5px;
    transition: 0.5s ease 0s;
}
.t4s-opening-qs .t4s-product-quick-shop .t4s-widget__pr {
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 15px;
    margin-bottom: 17px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}
.t4s-product-quick-shop .t4s-widget__pr:last-child {
    padding-bottom: 0;
    border: none;
}
.t4s-product-quick-shop .t4s-widget__pr .t4s-widget_img_pr {
    padding: 0;
    max-width: 118px;
}
.t4s-product-quick-shop .t4s-widget__pr .t4s-widget_if_pr {
    padding-inline-start: 20px;
    padding-inline-end: 0;
}
.t4s-product-quick-shop .t4s-widget__pr .t4s-widget__pr-title {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: block; 
    line-height: 1.25;
    margin: 4px 0;
    font-family: Druk Wide;
}
.t4s-product-quick-shop .t4s-widget__pr .t4s-widget__pr-price {
    color: var(--secondary-price-color);
    font-size: 14px;
}
.t4s-product-quick-shop .t4s-widget__pr .t4s-widget__pr-price ins {
    color: var(--primary-price-color);
}
.t4s-product-quick-shop .t4s-widget__pr .t4s-widget__pr-price del {
    margin-right: 6px;
}
.t4s-product-quick-shop .t4s-form__product {
    text-align: center;
}
.t4s-product-quick-shop .t4s-swatch__title {
    justify-content: center;
}
@media(max-width: 767px) {
    .t4s-product-quick-shop {
        padding: 15px 10px 0;
    }
    .t4s-product-quick-shop .t4s-widget__pr .t4s-widget_img_pr {
        max-width: 90px;
    }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {  
    .t4s-opening-qs button.t4s-modal-close:hover {
        background-color: transparent;
    }
    .t4s-opening-qs button.t4s-modal-close:not(:hover) > svg {
        transform: rotate(-180deg);
    }
    .t4s-view-products a:hover {
        color: var(--accent-color);
    }
    .t4s-view-products a:hover svg {
        margin-left: 10px;
    }
    .t4s-product-quick-shop .t4s-widget__pr .t4s-widget__pr-title:hover {
        color: var(--accent-color);
    }
}