.t4s-toolbart-sidebar.t4s-toolbar-item {
    display: block;
}
.t4s-widget .t4s-widget__pr {
	padding: 14px 0;
    margin: 0;
}
.t4s-widget .t4s-widget__pr:not(:last-child) {
	border-bottom: solid 1px var(--border-color);
}
.t4s-widget .t4s-widget__pr .t4s-widget_img_pr {
	width: 90px;
    flex: 90px 0 0;
    padding: 0;
}
.t4s-widget .t4s-widget__pr-title {
	color: var(--secondary-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: block; 
    line-height: 1.25;
    font-family: Druk Wide;
}
.t4s-widget .t4s-widget__pr-title:hover {
    color: var(--accent-color);
}
.t4s-widget .t4s-widget__pr .t4s-widget__pr-price {
	color: var(--primary-price-color);
	font-size: 12px;
}
.t4s-widget .t4s-widget__pr .t4s-widget__pr-price del {
    color: var(--secondary-price-color);
}
.t4s-widget .t4s-widget__pr .t4s-widget__pr-price ins {
	color: var(--sale-price-color);
	margin-left: 5px;
}

.t4s-sidebar-collection .t4s-widget:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: solid 1px var(--border-color);
}
.t4s-widget > ul {
    padding-left: 0;
    margin-bottom: 0;
}
.t4s-widget-title {
    position: relative;
    color: var(--heading-color);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.t4s-widget a:hover,
.t4s-widget .t4s-article-title:hover{
    color: var(--secondary-color);
}
.t4s-widget .t4s-widget_img_pr,
.t4s-widget .t4s-widget_img_ar {
    padding-right: 0;
    min-width: 95px;
    max-width: 95px;
}
.t4s-widget_if_pr{
    color: var(--text-color);
}
.t4s-widget .product-tags li {
    display: inline-block;
    margin: 0 2px 5px 0;
    color: inherit;
    line-height: 24px;
    font-size: 14px;
    border-radius: 20px;
}
.t4s-widget .product-tags li a {
    border: 1px solid;
    line-height: 24px;
    border-radius: 20px;
    padding: 0 10px;
    display: inline-block;
}
.t4s-product_list_widget .onsale.nt_label {
    width: auto;
    height: auto;
    color: var(--t4s-light-color);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
    margin: 5px;
}
.nt_label, .nt_label.on, .qs_label.onsale, .txt_sale {
    background-color: var(--sale-badge-background);
}
/* widget blog category */
.t4s-blog-categories .t4s-cat-item {
    padding-left: 15px;
    position: relative;
    margin-bottom: 5px;
}
.t4s-blog-categories .t4s-cat-item.t4s-current-cat a{color:var(--accent-color)}

.t4s-blog-categories .t4s-cat-item >a{
    display: inline-block;
    position: relative;
}
.t4s-blog-categories .t4s-cat-item .t4s_lb_nav {
    margin: 0;
    position: absolute;
    transform: none;
    right: 0;
    top: -14px;
}
.t4s-blog-categories .t4s-cat-item a i{font-size: 20px; margin-right: 5px;}
.t4s-blog-categories .t4s-cat-item::before {
    color: var(--secondary-color);
    content: "+";
    left: 0;
    position: absolute;
}
.t4s-widget-blog-category.t4s-cat-count-false .t4s-cat-count{display: none;}

/* widget filter tags */
.t4s-filter-tags ul li {
    line-height: 25px;
    list-style: none;
    margin-bottom: 5px;
    display: inline-block;
}
.t4s-filter-tags ul li a{
    border: 1px solid var(--secondary-color);;
    border-radius: 20px;
    color: var(--secondary-color);;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px 3px 0;
    padding: 2px 15px 1px;
}
.t4s-filter-tags ul{padding-left: 0px;}
.t4s-filter-tags ul li a:hover,
.t4s-filter-tags ul li.t4s-is--active a{
    color: var(--t4s-light-color);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}
.t4s-tags-count-false .t4s-blog-count{display: none;}

/* widget shiiping */
.t4s-sidebar-shipping-icon{
    font-size: 36px;
    margin-right: 20px;
    color: var(--heading-color);
    line-height: 100%;
}
.t4s-sidebar-shipping .t4s-sidebar-shipping-title{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--heading-color);
    margin-bottom: 5px;
}
.t4s-sidebar-shipping .t4s-sidebar-shipping-desc{margin-bottom: 0px;}

/*Gallery*/
.t4s-gallery-item .t4s_ratio {
    overflow: hidden;
}
.t4s-gallery-item img{
    transition: 0.5s;
}
.t4s-gallery-item:hover img{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: brightness(0.8);
}
/*Instagram*/
.t4s-ins-info .t4s-ins-icon {
    position: absolute;
    z-index: 5;
    top: 50%;
    opacity: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.t4s-ins-info .t4s-ins-icon svg {
    width: 20px;
    height: 20px;
    color: #ededed;
}
.t4s-col-ins a .t4s_bg {
    transition: 0.5s;
}
.t4s-col-ins a:hover .t4s-ins-icon{
    opacity: 1;
}
.t4s-col-ins a:hover .t4s_bg {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: brightness(0.8);
}
/*Widget image*/
.t4s-image-s img {
    transition: 0.5s;
}
.t4s-image-s:hover img {
    transform: scale(1.05);
    filter: brightness(0.9);
}
/*Widget social*/
.t4s-social {
    margin-bottom: -6px;
}
a.t4s-s-item {
    display: inline-flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    background: #333;
    margin-right: 6px;
    color: var(--t4s-light-color);
    font-size: 18px;
    margin-bottom: 6px;
}
a.t4s-s-item:hover{
    background: var(--link-color-hover);
    color: var(--t4s-light-color);
}
/*Widget banner countdown*/
.t4s-sidebar-image .t4s-countdown-pos-1 .t4s-sidebar-countdown{
    margin-top: 10px;
}
.t4s-sidebar-image .t4s-countdown-pos-2 .t4s-sidebar-countdown{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
/*Widget product category */
.t4s-widget-category .t4s-product-categories {
    max-height: 250px;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.t4s-product-categories .t4s-cat-item {
    position: relative;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
}
.t4s-product-categories .t4s-cat-item a {
    color: inherit;
}
.t4s-product-categories .t4s-cat-item a:hover {
    color: var(--secondary-color);
}
.t4s-product-categories .t4s-cat-item.t4s-current-cat > a {
	font-weight: 600;
    margin-bottom: 8px;
    position: relative;
    font-size: 13px;
    display: block;
    color: var(--secondary-color);
}
.t4s-product-categories .t4s-children > li > a::before {
    content: '+';
    display: inline-block;
    margin-right: 5px;
    font-weight: 400;
}
.t4s-product-categories .t4s-children .t4s-children > li > a::before {
    content: '-';
}

.t4s-sidebar-inner .t4s-facets__form > div:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: solid 1px var(--border-color);
}


/* ----------- Widget Blog ---------------- */
.t4s-sidebar-inner.t4s-sidebar-blog .t4s-widget:not(:last-child) {
    margin-bottom: 28px;
}
.t4s-sidebar-inner.t4s-sidebar-blog .t4s-widget{
    border: 1px solid rgba(var(--border-color-rgb),.9);
}
.t4s-sidebar-blog .t4s-widget-heading {
    padding: 16px 25px 13px;
    border-bottom: 1px solid rgba(var(--border-color-rgb),.9);
}
.t4s-sidebar-blog .t4s-widget-title {
    font-size: 13px;
    font-weight: 500;
    color: var(--secondary-color);
    line-height: 22px;
    padding-left: 10px;
    position: relative;
    margin-bottom: 0;
}
.t4s-sidebar-blog .t4s-widget-title:after {
    content: '';
    background-color: var(--secondary-color);
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
    top: 0;
}
.t4s-sidebar-blog .t4s-widget-inner{
    padding: 25px;
}

/* sidebar blog category */
.t4s-sidebar-blog .t4s-blog-categories{
    padding: 0;
    margin:0;
}
.t4s-sidebar-blog .t4s-blog-categories li{
    display: block;
    margin-bottom: 15px;
    padding-left: 15px;
}
.t4s-sidebar-blog .t4s-blog-categories li:last-child{margin-bottom: 0;}
.t4s-sidebar-blog .t4s-blog-categories li::before {
    position: absolute;
    content: "";
    border-width: 6px 7px;
    border-style: solid;
    border-color: transparent transparent transparent var(--border-color);
    left: 0;
    top: 5px;
    transition: all .3s;
}
.t4s-sidebar-blog .t4s-blog-categories li a{
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-color);
    transition: all .3s;
}
.t4s-sidebar-blog .t4s-blog-categories li.t4s-current-cat a,
.t4s-sidebar-blog .t4s-blog-categories li a:hover{color: var(--accent-color);}
.t4s-sidebar-blog .t4s-blog-categories li.t4s-current-cat::before,
.t4s-sidebar-blog .t4s-blog-categories li:hover::before{border-color: transparent transparent transparent var(--accent-color);}
.t4s-sidebar-blog .t4s-blog-categories li>a{
    display: inline-block;
    position: relative;
}
.t4s-sidebar-blog .t4s-blog-categories .t4s-blog-cat__item a i {
    font-size: 20px;
    margin-right: 5px;
}
.t4s-sidebar-blog .t4s-blog-categories .t4s-blog-cat__item .t4s_lb_nav {
    margin: 0;
    position: absolute;
    transform: none;
    right: 0;
    top: -14px;
}
.t4s-cat-count-false .t4s-cat-count{display: none;}

/* Widget blog search */
.t4s-sidebar-blog .t4s-widget-blog-search{
    background-color: var(--secondary-color);
}
.t4s-sidebar-blog .t4s-widget-blog-search .t4s-widget-title{
    color: var(--t4s-light-color);
}
.t4s-sidebar-blog .t4s-widget-blog-search .t4s-widget-heading{border-color:var(--secondary-color);}
.t4s-sidebar-blog .t4s-widget-blog-search .t4s-widget-title:after{
    background-color: var(--t4s-light-color);
}
.t4s-sidebar-blog .t4s-widget-blog-search .t4s-widget-inner{padding:0 31px 32px 26px;}
.t4s-sidebar-blog input.t4s-search-sidebar__input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 12px 60px 12px 14px!important;
    border: none!important;
}
.t4s-sidebar-blog .t4s-search-sidebar__submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    width: 60px;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    min-height: 40px;
    border-radius: 40px;
    transition: .3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
}
.t4s-sidebar-inner .t4s-search-sidebar__submit svg{width: 16px;height: 16px;}

/* Widget blog popular post */
.t4s-sidebar-blog .t4s-sidebar-blog-post .t4s-widget-inner{padding:0px;}
.t4s-sidebar-blog .t4s-sidebar-blog-post .t4s-space-post__item{padding:17px 25px;border-bottom: 1px solid var(--border-color);}
.t4s-sidebar-blog .t4s-sidebar-blog-post .t4s-space-post__item:last-child{border-bottom: 0;}
.t4s-sidebar-blog .t4s-widget_img_ar {
    padding-right: 0;
    min-width: 80px;
    max-width: 80px;
}
.t4s-sidebar-blog .t4s-widget_if_ar a{
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 16px;
}
.t4s-sidebar-blog .t4s-widget_if_ar a:hover{color: var(--accent-color);}
.t4s-sidebar-blog .t4s-widget_if_ar time{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-color);
}
.t4s-sidebar-blog .t4s-space-item-inner:not(:last-child) {
    margin-bottom: 15px;
}

/* widget bog tags */

.t4s-sidebar-blog .t4s-widget-blog-tags .t4s-widget-inner{padding:18px 22px 22px 24px;}
.t4s-sidebar-blog .t4s-widget-blog-tags .t4s-filter-tags{padding: 0;margin: 0;}
.t4s-sidebar-blog .t4s-widget-blog-tags .t4s-filter-tags li{
    display: inline-block;
}
.t4s-sidebar-blog .t4s-widget-blog-tags .t4s-filter-tags li a{
    font-size: 12px;
    font-weight: 400;
    line-height: 29px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    margin: 0 5px 7px 0;
    padding:0 26px 0 22px;
    display: inline-block;
    transition: all .3s;
}
.t4s-tags-count-false .t4s-blog-count{display: none;}
.t4s-sidebar-blog .t4s-widget-blog-tags .t4s-filter-tags li a:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
}



/* Newsletter blog */
.t4s-sidebar-blog .t4s-sidebar-newsletter{
    border:2px solid var(--secondary-color)!important;
}
.t4s-sidebar-blog .t4s-sidebar-newsletter .t4s-widget-heading{border-bottom: 1px solid var(--secondary-color);}
.t4s-sidebar-blog .t4s-sidebar-newsletter__description{
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.t4s-sidebar-blog .t4s-sidebar-newsletter .t4s-newsletter__inner{
    border:1px solid var(--border-color);
    position: relative;
    overflow: hidden;
}
.t4s-sidebar-blog .t4s-sidebar-newsletter .t4s-newsletter__inner input{height: 45px;width: 100%;outline: none;border: none;font-size: 12px;padding:12px 66px 12px 14px!important;}
.t4s-sidebar-blog .t4s-sidebar-newsletter .t4s-newsletter__submit{
    background-color: var(--secondary-color);
    color: var(--t4s-light-color);
    transition: .3s all;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    min-width: 66px;
    height: 45px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
}
.t4s-sidebar-blog .t4s-sidebar-newsletter .t4s-newsletter__submit:hover{background-color: var(--accent-color);}
.t4s-sidebar-blog .t4s-sidebar-newsletter .t4s-newsletter__submit svg{
    width: 23px;
    height: auto;
    fill: currentColor;
}