/* 
CSS for the normal weight and style file for a custom font.
Attempts to load the file locally first.
Use the line that loads a woff2 version of the font if you have the required file,
or else delete that line and just use the woff file loading line.
Uses font-display:swap; to help the loading process.
*/
@font-face {
     font-family: 'MADE_Black';
     src: local('MADE_Black'),
         url('https://cdn.shopify.com/s/files/1/0671/5614/8541/files/MADE_Black.woff2?v=1684637337') format('woff2'),
     font-weight: 900;
     font-style: normal;
     font-display: swap;
}
 
/*
Include an additional @font-face block for each font file in the family.
Change the font-weight and font-style value to match each font file
*/
@font-face {
     font-family: 'AeonikPro-Regular';
     src: local('AeonikPro-Regular'),
         url('https://cdn.shopify.com/s/files/1/0671/5614/8541/files/AeonikPro-Regular.woff2?v=1684638077') format('woff2'),
     font-weight: 200;
     font-style: normal;
     font-display: swap;
 }

@font-face {
  font-family:'Stage';
  src:local('Stage'),
    url('https://cdn.shopify.com/s/files/1/0671/5614/8541/files/StageGrotesk-Thin.woff2?v=1704949869') format("woff2"),
    font-weight: 200;
  font-style:normal;
  font-display:swap
}

@font-face{font-family:Stage;src:local("Stage"),url(https://cdn.shopify.com/s/files/1/0671/5614/8541/files/StageGrotesk-Light.woff2?v=1704949869) format("woff2"),font-weight: 300;font-style:normal;font-display:swap} @font-face{font-family:Stage;src:local("Stage"),url(https://cdn.shopify.com/s/files/1/0671/5614/8541/files/StageGrotesk-Regular.woff2?v=1704949869) format("woff2"),font-weight: 400;font-style:normal;font-display:swap}@font-face{font-family:Stage;src:local("Stage"),url(https://cdn.shopify.com/s/files/1/0671/5614/8541/files/StageGrotesk-Medium.woff2?v=1704949869) format("woff2"),font-weight: 500;font-style:normal;font-display:swap}@font-face{font-family:Stage;src:local("Stage"),url(https://cdn.shopify.com/s/files/1/0671/5614/8541/files/StageGrotesk-Bold.woff2?v=1704949869) format("woff2"),font-weight: 700;font-style:normal;font-display:swap}@font-face{font-family:Stage;src:local("Stage"),url(https://cdn.shopify.com/s/files/1/0671/5614/8541/files/StageGrotesk-ExtraBold.woff2?v=1704949869) format("woff2"),font-weight: 800;font-style:normal;font-display:swap}@font-face{font-family:Stage;src:local("Stage"),url(https://cdn.shopify.com/s/files/1/0671/5614/8541/files/StageGrotesk-Black.woff2?v=1704949869) format("woff2"),font-weight: 900;font-style:normal;font-display:swap}
