.t4s-map-info-wrap > .t4s-full-width-link:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--bg-overlay);
}
.t4s-frame-map iframe {
    margin-bottom: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    max-height: var(--aspect-ratio-cusdt);
}
.t4s-map-info-wrap .t4s-content-position {
    max-width: 90%;
    min-width: 320px;
}
@media(min-width: 768px) and (max-width: 1024px){
  .t4s-frame-map iframe {
    max-height: var(--aspect-ratio-custb);
    }
}
@media(max-width: 767px){
  .t4s-frame-map iframe {
    max-height: var(--aspect-ratio-cusmb);
    }
}