.t4s-newsletter-parent ::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
    line-height: inherit;
    height: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.t4s-newsletter-parent :-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
    line-height: inherit;
    height: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.t4s-newsletter-parent ::-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
    line-height: inherit;
    height: inherit;
    font-size: inherit;
    font-weight: inherit;
} 
.t4s-newsletter-parent :-ms-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
    line-height: inherit;
    height: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.t4s-newsletter-parent input[type="text"], input[type="email"],
.t4s-newsletter-parent textarea,.t4s-newsletter-parent input[type="password"],
.t4s-newsletter-parent input[type="tel"],
.t4s-newsletter-parent input[type="search"],
.t4s-newsletter-parent input[type="text"], input[type="email"]:hover,
.t4s-newsletter-parent textarea,.t4s-newsletter-parent input[type="password"]:hover,
.t4s-newsletter-parent input[type="tel"]:hover,
.t4s-newsletter-parent input[type="search"]:hover,
.t4s-newsletter-parent input[type="text"], input[type="email"]:focus,
.t4s-newsletter-parent textarea,.t4s-newsletter-parent input[type="password"]:focus,
.t4s-newsletter-parent input[type="tel"]:focus,
.t4s-newsletter-parent input[type="search"]:focus {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    outline: none;
}
.t4s-newsletter-parent input:focus::placeholder {
    color: transparent;
}
.t4s-news-one-column .t4s-newsletter-parent {
    margin-left: auto;
    margin-right: auto;
}
.t4s-news-two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t4s-news-two-columns .t4s-top-heading {
    padding-right: 20px;
}
.t4s-newsletter-parent input {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.t4s-newsletter-parent.t4s-newsletter-center {
    text-align: center;
}
.t4s-newsletter-parent.t4s-newsletter-center form {
    display: inline-block;
    width: var(--form-width); 
    max-width: 100%;
}
.t4s-newsletter-parent {
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--mgb);
    display: inline-block;
    vertical-align: top;
}
.t4s-newsletter-parent.t4s-custom-width-true {
    max-width: var(--form-width);
} 
.t4s-newsletter__inner {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
}
.t4s-newsletter__inner .t4s-newsletter__email {
    width: 100%;
    line-height: 24px;
    transition: border-color .5s;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    outline: 0;
    border-radius: 0;
    max-width: 100%;
    background-color: transparent;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    border-bottom-style: solid;
    border-width: 2px;
}
.t4s-newsletter__inner .t4s-newsletter__email,
.t4s-newsletter__inner .t4s-newsletter__email:focus,
.t4s-newsletter__inner input:not([type=submit]):not([type=checkbox]):focus {
    color: var(--input-cl);
    border-color: var(--border-cl);
}
.t4s-newsletter__inner .t4s-newsletter__submit {
    text-transform: uppercase;
    font-size: 12.17px;
    letter-spacing: 1.3px;
    font-weight: 500;
    margin: 0;
    padding: 5px 0;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--border-cl);
    color: var(--btn-cl);
    min-width: 70px;
}
.t4s-newsletter__inner .t4s-newsletter__submit:focus {
    color: var(--btn-hover-cl);
}
.t4s-newsletter__inner .t4s-newsletter__submit svg {
    fill: currentColor;
    height: 24px;
    width: 24px;
}
.t4s-newsletter__inner .t4s-newsletter__submit svg.t4s-arrow-svg {
    width: 14px;
}
.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 15px;
    padding: 9px 0;
    line-height: 25px;
}
.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__submit {
    font-size: 13px;
    padding: 10px 0;
    line-height: 23px;
}
.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__submit svg {
    height: 23px;
    width: 22px;
}
.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__submit svg.t4s-arrow-svg {
    width: 16px;
}
.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 16px;
    padding: 11px 0;
    line-height: 27px;
}
.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__submit {
    font-size: 14px;
    padding: 11px 0;
    line-height: 27px;
}
.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__submit svg {
    height: 27px;
    width: 28px;
}
.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__submit svg.t4s-arrow-svg {
    width: 18px;
}
.t4s-newsletter__inner .t4s-newsletter__submit .t4s-newsletter__text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.t4s-newsletter__inner .t4s-newsletter__submit.is--loading > span:not(.t4s-loading__spinner) {
    opacity: 0;
    visibility: hidden;
}

.t4s-newsl-des-1 .t4s-newsletter__inner .is--col-email {
    padding-right: 14px;
}
.t4s-newsl-des-1 .t4s-newsletter__inner .t4s-newsletter__submit,
.t4s-newsl-des-2 .t4s-newsletter__inner .t4s-newsletter__submit {
    background-color: transparent;
}
.t4s-newsl-des-2.t4s-has-btn-icon .t4s-newsletter__inner .t4s-newsletter__submit .t4s-newsletter__text {
   justify-content: flex-end;
}
.t4s-newsl-layout-3.t4s-news-two-columns .t4s-top-heading {
    display: inline-flex;
    align-items: center;
}
.t4s-newsl-layout-3.t4s-news-two-columns .t4s-top-heading .t4s-top-icon{
    margin-right: 30px;
}
.t4s-newsl-des-3 .t4s-newsletter__inner {
    align-items: flex-start;
}
.t4s-newsl-des-3 .t4s-newsletter__inner .is--col-email {
    padding-right: 21px;
}
.t4s-newsl-des-3 .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 12px;
    padding: 0 0 1px;
}
.t4s-newsl-des-3 .t4s-newsletter__inner .t4s-newsletter__submit {
    border-style: solid;
    border-width: 2px;
    border-color: var(--btn-cl);
    border-radius: 100%;
    text-align: center;
    background-color: transparent;
    min-width: 52px;
    height: 52px;
    border-radius: 52px;
    line-height: 48px;
}

.t4s-newsl-des-3.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 13px;
    padding: 0 0 6px;
}
.t4s-newsl-des-3.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__submit {
    min-width: 62px;
    height: 62px;
    border-radius: 62px;
    line-height: 58px;
}
.t4s-newsl-des-3.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 14px;
    padding: 4px 0;
}
.t4s-newsl-des-3.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__submit {
    min-width: 72px;
    height: 72px;
    border-radius: 72px;
    line-height: 68px;
}
.t4s-newsl-des-3.t4s-has-btn-text .t4s-newsletter__inner .t4s-newsletter__submit {
    padding: 0 20px;
}
.t4s-newsl-des-4 .t4s-newsletter__inner .t4s-newsletter__email {
    border: none;
    padding: 5px 20px;
    line-height: 24px;
    font-size: 11px;
}
.t4s-newsl-des-4 .t4s-newsletter__inner .t4s-newsletter__email,
.t4s-newsl-des-4 .t4s-newsletter__inner .t4s-newsletter__email:focus,
.t4s-newsl-des-4 .t4s-newsletter__inner input:not([type=submit]):not([type=checkbox]):focus {
    background-color: var(--border-cl);
    color: var(--input-cl);
}
.t4s-newsl-des-4 .t4s-newsletter__inner .t4s-newsletter__submit {
    background-color: var(--btn-cl);
    color: var(--btn-cl2);
    min-width: 77px;
    line-height: 24px;
    border: none;
    padding: 5px 20px;
    font-size: 10px;
}
.t4s-newsl-des-4 .t4s-newsletter__inner .t4s-newsletter__submit:focus {
    background-color: var(--btn-hover-cl);
    color: var(--btn-hover-cl2);
}
.t4s-newsl-des-4.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 12px;
    padding: 10px 20px;
    line-height: 25px;
}
.t4s-newsl-des-4.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__submit {
    font-size: 11px;
    padding: 11px 30px;
    line-height: 23px;
}
.t4s-newsl-des-4.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 13px;
    padding: 12px 20px;
    line-height: 26px;
}
.t4s-newsl-des-4.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__submit {
    font-size: 12px;
    padding: 12px 40px;
    line-height: 26px;
}
.t4s-newsl-des-5 .t4s-newsletter__form .t4s-newsletter__inner {
    border: solid 1px var(--border-cl);
    padding-left: 0;
    background-color: transparent;
}
.t4s-newsl-des-5 .t4s-newsletter__inner .t4s-newsletter__email {
    font-size: 12px;
    border: none;
    padding: 8px 0;
    line-height: 24px;
}
.t4s-newsl-des-5 .t4s-newsletter__inner .t4s-newsletter__submit {
    background-color: transparent;
    border: none;
    padding: 8px 23px;
    line-height: 24px;
    min-width: 1px;
}
.t4s-newsl-des-5 .t4s-newsletter__inner .t4s-newsletter__submit:hover {
    background-color: transparent;
}
.t4s-newsl-des-5.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__email {
    padding: 11px 0;
    padding-inline-start: 20px;
    line-height: 24px;
    font-size: 13px;
}
.t4s-newsl-des-5.t4s-newsl-medium .t4s-newsletter__inner .t4s-newsletter__submit {
    padding: 11px 23px;
    line-height: 24px;
}
.t4s-newsl-des-5.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__email {
    padding: 12px 0;
    line-height: 26px;
    font-size: 14px;
}
.t4s-newsl-des-5.t4s-newsl-large .t4s-newsletter__inner .t4s-newsletter__submit {
    padding: 12px 23px;
    line-height: 26px;
}

.t4s-newsletter-parent > div,
.t4s-newsletter-parent .t4s-newsletter__success,
.t4s-newsletter-parent .t4s-newsletter__error {
    position: static;
    z-index: 2;
    bottom: calc(100% + 8px);
    left: 0;
    background-color:var(--t4s-light-color);
    padding: 5px 10px;
    color: var(--text-color);
    border: solid 1px var(--border-color);
    border-radius: 20px;
    text-align: start;
    margin: 10px 0;
    font-size: 13px;
}
.t4s-newsletter-parent .t4s-newsletter__success {
    border-color: var(--t4s-success-color);
    color: var(--t4s-success-color);
}
.t4s-newsletter-parent > div svg,
.t4s-newsletter-parent .t4s-newsletter__success svg {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    fill: currentColor;
}
.t4s-newsletter-parent .t4s-newsletter__error {
    border-color: var(--t4s-error-color);
    color: var(--t4s-error-color);
}
.t4s-newsletter-parent .t4s-newsletter__error::before {
    border-bottom: solid 1px var(--t4s-error-color);
    border-right: solid 1px var(--t4s-error-color);
}
.t4s-newsletter-wrap.t4s-form-border-true {
    border: solid 2px var(--border-color);
    padding: 60px 90px 60px 120px;
}
.t4s-agree__checkbox {
    margin-top: 20px;
}
.t4s-agree__checkbox input[type="checkbox"] {
    display: none;
}
.t4s-agree__checkbox input[type=checkbox]+label {
    cursor: pointer;
}
.t4s-agree__checkbox input[type=checkbox]+label:before {
    content: "";
    display: inline-block;
    margin-inline-end: 6px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border: 1px solid #d4d6d8;
    background: #fff;
    box-shadow: 0 1px #d4d6d866;
    border-radius: 2px;
    -webkit-appearance: none;
    position: relative;
    top: 3px;
    box-shadow: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .2s ease-in-out;
}
.t4s-agree__checkbox input[type=checkbox]:checked+label::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.t4s-agree__checkbox input[type=checkbox]~svg {
    display: block;
    width: 12px;
    height: 12px;
    fill: #fff;
    position: absolute;
    top: 5px;
    left: 2px;
    pointer-events: none;
    transform: scale(0);
    -webkit-transform: scale(0);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.t4s-agree__checkbox input[type=checkbox]:checked~svg {
    transform: scale(1);
    -webkit-transform: scale(1);
}
@media (max-width: 1440px) {
    .t4s-newsletter-wrap.t4s-form-border-true {
        padding: 40px 60px 40px 90px;
    }
}
@media (max-width: 1199px) {
    .t4s-newsletter-wrap.t4s-form-border-true {
        padding: 40px 30px;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .t4s-newsletter-parent {
        margin-bottom: var(--mgb-tb);
    }
    .t4s-newsletter-parent.t4s-custom-width-true {
        max-width: var(--form-width-tb);
    } 
}
@media(max-width: 991px) {
    .t4s-news-two-columns {
        flex-direction: column;
    }
    .t4s-newsl-layout-3.t4s-news-two-columns .t4s-top-heading .t4s-top-icon {
        margin-right: 15px;
    }
    .t4s-news-two-columns .t4s-top-heading {
        padding: 0;
        margin-bottom: 30px;
    }
    .t4s-newsletter-wrap.t4s-form-border-true {
        padding: 40px 15px;
    }
}

@media(max-width: 767px) {
    .t4s-newsletter-parent {
        margin-bottom: var(--mgb-mb);
    }
    .t4s-newsletter-parent.t4s-custom-width-true {
        max-width: var(--form-width-mb);
    }
    .t4s-newsl-des-1 .t4s-newsletter__inner .is--col-email {
        padding-right: 0;
    }
    .t4s-newsl-des-1  .t4s-newsletter__inner .t4s-newsletter__submit {
        width: auto;
    }
}
@media(max-width: 575px) {
    .t4s-newsl-layout-3 .t4s-top-heading .t4s-top-icon {
        margin: 0 0 15px;
    }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) { 
    .t4s-newsletter__inner .t4s-newsletter__submit:hover {
        border-color: var(--btn-hover-cl);
        color: var(--btn-hover-cl);
    }
    .t4s-newsl-des-4 .t4s-newsletter__inner .t4s-newsletter__submit:hover {
        background-color: var(--btn-hover-cl);
        color: var(--btn-hover-cl2);
    }
}