.t4s-product-quick-view .t4s-product__media-wrapper {
/*     padding-left: 0;
    padding-right: 0; */
    margin-top: 15px;
}

.t4s-product-quick-view .t4s-product__title a {
    color: inherit;
}
.t4s-product-quick-view .t4s_ratio.t4s-product__media {
    max-width: 100%;
}
.t4s-product-quick-view .t4s-single-product-badge {
    align-items: flex-start;
    left: 25px;
    top: 10px;
    right: auto; 
    transform-origin: 0 0;
}
.t4s-product-quick-view a.at-icon-wrapper.at-share-btn.at-svc-compact {
    display: none !important;
}
.t4s-product__social.t4s__addthis.addthis_inline_share_toolbox_icxz:not([style]) {
  min-height: 32px;
}

#ProductInfo-template--main-qv__main {
  overflow: hidden;
  padding-bottom: 25px;
  -webkit-animation: t4s-ani-fadeIn 1.25s cubic-bezier(.26,.54,.32,1) 0s forwards;
  animation: t4s-ani-fadeIn 1.25s cubic-bezier(.26,.54,.32,1) 0s forwards;
}
.t4s-opening-qv .t4s-ajax-popup-wrapper .t4s-mfp-popup,
.t4s-opening-qv .t4s-ajax-popup-wrapper #t4s-pr-popup__size-guide {
    max-height: 75vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.t4s-product-quick-view {
    padding: 0 15px;
}
.t4s-product-quick-view[data-t4s-scroll-me] {
    overflow: hidden !important;
}
.t4s-product-quick-view .t4s-extra-link {
    margin-bottom: 20px;
}
.t4s-product-quick-view .t4s-extra-link > a:not(:last-child) {
    margin-right: 20px;
}
@media (min-width: 768px) {
    .t4s-product-quick-view .t4s-single-product-badge {
        left: 15px;
        top: 15px;
    }
    .t4s-product-quick-view .t4s-product__media-wrapper {
        padding-inline-start: 0;
        padding-inline-end: 15px;
        margin-top: 0;
    }
    #ProductInfo-template--main-qv__main {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding-top: 30px;
        padding-inline-start: 25px;
        padding-inline-end: 30px;
    }
    .t4s-product-quick-view .t4s-product__info-wrapper::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        right: 15px;
        bottom: 0;
        z-index: 1;
    }
}

/* sidebar type css */
html.t4s-sidebar-qv {
    --t4s-translate-qv: 120%;
}
html.t4s-sidebar-qv.rtl_true {
    --t4s-translate-qv: -120%;
}
.t4s-sidebar-qv.t4s-opening-qv .t4s-modal__inner .t4s-product-quick-view {
    width: 300px;
    overflow: visible;
    padding: 15px;
    margin: 0;
}
.t4s-sidebar-qv.t4s-opening-qv .t4s-modal__content {
    max-height: 100%;
    overflow: auto;
}
.t4s-sidebar-qv.t4s-opening-qv .t4s-product-quick-view .t4s-product__media-wrapper,
.t4s-sidebar-qv.t4s-opening-qv .t4s-product-quick-view .t4s-product__info-wrapper {
    flex: 0 0 auto;
    width: 100%;
}
.t4s-sidebar-qv #ProductInfo-template--main-qv__main {
   position: static;
   padding: 20px 0 0 0;
}
.t4s-sidebar-qv.t4s-opening-qv button.t4s-modal-close {
    left: 0;
    right: auto;
    transform: translate(-100%,0%);
}
.rtl_true.t4s-sidebar-qv.t4s-opening-qv button.t4s-modal-close {
    left: auto;
    right: 0;
    transform: translate(100%,0);
}

.t4s-popup-qv button.t4s-modal-close { 
    top: 10px;
    right: 20px;
    background-color: transparent;
    color: var(--t4s-dark-color);
}
.t4s-popup-qv button.t4s-modal-close svg,
.t4s-sidebar-qv button.t4s-modal-close svg {
    transition: 0.5s ease 0s;
    width: 20px;
    height: 20px;
}
.t4s-sidebar-qv.t4s-opening-qv .t4s-modal__inner {
    max-width: 465px;
    max-height: 100%;
    height: 100vh;
}
.t4s-sidebar-qv.t4s-opening-qv .t4s-modal {
    justify-content: flex-end;
    align-items: stretch;
}
.t4s-sidebar-qv.t4s-opening-qv .t4s-modal__inner {
    margin: 0;
    width: auto;
    background: transparent;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    background-color: var(--t4s-light-color);
    max-width: 465px;
    max-height: 100%;
}
.t4s-sidebar-qv.t4s-opening-qv.t4s-modal-opened .t4s-modal .t4s-modal__inner {
    animation-name: t4s-sidebar-opening;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(0.774, 0.045, 0.355, 1);
    animation-timing-function: linear;
}
.t4s-sidebar-qv.t4s-opening-qv.t4s-modal-closing .t4s-modal .t4s-modal__inner {
    animation-name: t4s-sidebar-closing;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(0.774, 0.045, 0.355, 1);
    animation-timing-function: linear;
}

.t4s-sidebar-qv.t4s-opening-qv .t4s-product-quick-view .t4s-product__media-wrapper {
   padding: 0 15px;
}
.t4s-sidebar-qv.t4s-opening-qv .t4s-product__info-wrapper::before { display: none; }

.t4s-product-quick-view .t4s-product-form__variants {
    margin-bottom: 15px;
}
.t4s-product-quick-view .t4s-view-products {
    border-top: solid 1px var(--border-color);
    padding: 8px 0 0;
    margin-bottom: 8px;
}
.t4s-product-quick-view .t4s-view-products a {
    font-size: 13px;
    color: var(--secondary-color);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    line-height: 40px;
}
.t4s-product-quick-view .t4s-view-products a svg {
    fill: currentcolor;
    width: 17px;
    height: 17px;
    stroke-width: 2px;
    margin-left: 5px;
    transition: 0.5s ease 0s;
}
/* .t4s-product-quick-view .flickityt4s-prev-next-button.previous,
.rtl_true .t4s-product-quick-view .flickityt4s-prev-next-button.next {
    left: 15px !important;
    margin-left: 0 !important;
    right: auto !important;
}
.t4s-product-quick-view .flickityt4s-prev-next-button.next,
.rtl_true .t4s-product-quick-view .flickityt4s-prev-next-button.previous {
    right: 15px !important;
    margin-right: 0 !important;
    left: auto !important;
} */
.t4s-product-quick-view .t4s-flickity-slider .flickityt4s-page-dots {
    position: absolute;
    z-index: 1;
    bottom: 20px;
}
@media (min-width: 375px) {
   .t4s-sidebar-qv.t4s-opening-qv .t4s-modal .t4s-product-quick-view {
      width: 320px;
      padding: 20px;
   }
}
@media (min-width: 768px) {
    .t4s-sidebar-qv.t4s-opening-qv .t4s-modal__inner .t4s-product-quick-view {
       width: 465px;
       padding: 25px;
    }
}

@keyframes t4s-sidebar-opening {
    0% {
        visibility: hidden;
        transform: translate(var(--t4s-translate-qv))
    }

    to {
        visibility: visible;
        transform: translate(0)
    }
}

@keyframes t4s-sidebar-closing {
    0% {
        visibility: visible;
        transform: translate(0)
    }

    to {
        visibility: hidden;
        transform: translate(var(--t4s-translate-qv))
    }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {  
    .t4s-product-quick-view .t4s-product__title a:hover{
        color:var(--title-color-hover);
    }
    .t4s-popup-qv button.t4s-modal-close:hover {
        background-color: transparent;
    }
    .t4s-popup-qv button.t4s-modal-close:not(:hover) > svg,
    .t4s-sidebar-qv button.t4s-modal-close:not(:hover) > svg {
        transform: rotate(-180deg);
    }
    .t4s-product-quick-view .t4s-view-products a:hover {
        color: var(--accent-color);
    }
    .t4s-product-quick-view .t4s-view-products a:hover svg {
        margin-left: 10px;
    }
}