{{ 'button-style.css' | asset_url | stylesheet_tag }}
<a href="{{ pr_url }}" class="t4s-btn-custom t4s-pe-auto t4s-btn-style-outline t4s-fnt-fm-1 t4s-view-details" style="--border_w: 2px;">{{ btn_details }}</a>
<style>a.t4s-view-details {line-height: 42px;display: inline-block;padding: 0 30px;text-transform: uppercase;letter-spacing: 1px;font-size: 12px;border-style: solid;margin-top: 10px;margin-bottom: 1px;color: var(--btn-details-cl);}a.t4s-view-details:hover{ opacity: 0.8;color: var(--btn-details-cl); }</style>