.t4s-col-inner {
	padding-top: var(--pd-top);
	padding-inline-end: var(--pd-right);
	padding-bottom: var(--pd-bottom);
	padding-inline-start: var(--pd-left);
	background-color: var(--bg-cl);
}
.t4s-has-imgbg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.t4s-text-bl {
	font-size: var(--text-fs);
	font-weight: var(--text-fw); 
	line-height: var(--text-lh);
	letter-spacing: var(--text-ls);
	font-style: var(--text-fonts);
	color:  var(--text-cl);
	margin-bottom: var(--mgb);
}
.t4s-custom-space{
	margin-bottom: var(--mgb-box);
}
.t4s-font-italic-true {
    font-style: italic !important;
}
.t4s-text-shadow-true {
	text-shadow: 0 0 4px rgba(0,0,0,0.4);
}
.t4s-img-child::before, .t4s-img-child::after {
    pointer-events: none;
}
.t4s-img-child {
    width: 100%;
    font-size: 0;
}
.t4s-img-child,
.custom-menu,
.socials-block,
.t4s-newsletter-parent,
.t4s-countdown {
	margin-bottom: var(--mgb); 
}
.t4s-img-child img {
	width: 100%;
	max-width: var(--width);
	display: inline-block;
	vertical-align: top;
}
.t4s-space-html {
	height: var(--height);
	margin-bottom: var(--mgb);
	vertical-align: top;
}
.t4s-space-html::before{
	content: "";
	display: inline-block;
	max-width: 100%;
	background-color: var(--color);
	width: var(--width);
	height: var(--height);
	vertical-align: top;
}
.t4s-img-layer{
  width: 100%;
  top: var(--ps-top);
  left: var(--ps-left);
}
.t4s-img-layer-innner{
  width: var(--layer-w);
  transform: translate(calc(-1*var(--ps-left)),calc(-1*var(--ps-top)));
}
.t4s-img-layer .t4s-img-layer-innner img,
.t4s-img-child:not(.t4s-gallery-child) .t4s-img-inner img{
  max-width: 100%;
}
.t4s-img-child:not(.t4s-gallery-child) .t4s-img-inner {
    display: inline-block;
    font-size: 0;
    width: 100%;
    max-width: var(--width);
}
.t4s-img-child[style*="--width:0px"]:not(.t4s-gallery-child) .t4s-img-inner {
	max-width: var(--max-width);
}
.t4s-img-w{
  width: var(--width);
}
.t4s-img-child .t4s-img-w img {
  max-width: inherit;
}
@media(min-width: 1025px) {
	.t4s-img-child[style*="--width:0px"] img {
	    max-width: var(--max-width);
	}
	.t4s-text-bl[style*="--text-lh:0px"] {
	    line-height: 1 ;
	}
	
	.t4s-img-child:not(.t4s-gallery-child) .t4s-img-inner img {
	    max-width: var(--width);
	}
	.t4s-img-child[style*="--width:0px"] .t4s-img-inner img,
	.t4s-img-child[style*="--width:0px"]:not(.t4s-gallery-child) .t4s-img-inner img{
	    max-width: var(--max-width);
	}
	
}
@media(min-width: 768px) and (max-width: 1024px) {
	.t4s-text-bl {
		font-size: var(--text-fs-tb);
		line-height: var(--text-lh-tb);
		letter-spacing: var(--text-ls-tb);
		margin-bottom: var(--mgb-tb);
	}
	.t4s-custom-space{
		margin-bottom: var(--mgb-box-tb);
	}
	.t4s-text-bl[style*="--text-lh-tb:0px"] {
	    line-height: 1;
	}
	.t4s-img-child:not(.t4s-gallery-child) .t4s-img-inner img,
	.t4s-img-child img{
	    max-width: var(--width-tb);
	}
	.t4s-img-child[style*="--width-tb:0px"] .t4s-img-inner img,
	.t4s-img-child:not(.t4s-gallery-child)[style*="--width-tb:0px"] .t4s-img-inner img,
	.t4s-img-child[style*="--width-tb:0px"]:not(.t4s-gallery-child) img {
	    max-width: var(--max-width);
	}
	.t4s-space-html {
		height: var(--height-tl);
		margin-bottom: var(--mgb-tl);
	}
	.t4s-space-html::before{
		background-color: var(--color);
		width: var(--width-tb);
		height: var(--height-tb);
	}
	.t4s-hidden-tablet-true{display: none;}
    .t4s-col-inner {
        padding-top: var(--pd-tb-top);
		padding-inline-end: var(--pd-tb-right);
		padding-bottom: var(--pd-tb-bottom);
		padding-inline-start: var(--pd-tb-left);
    }
	.t4s-countdown,
    .t4s-img-child,
	.custom-menu,
	.socials-block,
	.t4s-newsletter-parent {
		margin-bottom: var(--mgb-tb); 
	}
}
@media(max-width: 1024px) {
	.t4s-hidden-br-mb-true br {
        display: none !important;
    }
}
@media(max-width: 767px) {
	.t4s-col-inner {
		padding-top: var(--pd-mb-top);
		padding-inline-end: var(--pd-mb-right);
		padding-bottom: var(--pd-mb-bottom);
		padding-inline-start: var(--pd-mb-left);
	}
	.t4s-text-bl {
		font-size: var(--text-fs-mb);
		line-height: var(--text-lh-mb);
		letter-spacing: var(--text-ls-mb);
		margin-bottom: var(--mgb-mb);
	}
	.t4s-text-bl[style*="--text-lh-mb:0px"] {
	    line-height: 1;
	}
	.t4s-hidden-mobile-true,
    .t4s-hidden-br-mb-true br {
        display: none !important;
    }
    .t4s-countdown,
	.t4s-img-child,
	.custom-menu,
	.socials-block,
	.t4s-newsletter-parent  {
		margin-bottom: var(--mgb-mb);
	}
	.t4s-custom-space  {
		margin-bottom: var(--mgb-box-mb);
	}
    .t4s-space-html {
		height: var(--height-mb);
		margin-bottom: var(--mgb-mb);
	}
	.t4s-space-html::before{
		background-color: var(--color);
		width: var(--width-mb);
		height: var(--height-mb);
	}
	.t4s-img-child:not(.t4s-gallery-child) .t4s-img-inner img,
	.t4s-img-child img {
	    max-width: var(--width-mb);
	}
	.t4s-img-child[style*="--width-mb:0px"] .t4s-img-inner img,
	.t4s-img-child:not(.t4s-gallery-child)[style*="--width-mb:0px"] .t4s-img-inner img,
	.t4s-img-child[style*="--width-mb:0px"]:not(.t4s-gallery-child) img {
	    max-width: var(--max-width);
	}
}