#t4s-login-sidebar .t4s-drawer__header > span,
.t4s-content-login-sidebar {
  display:none
}
#t4s-login-sidebar .t4s-drawer__header > span[aria-hidden="false"],
.t4s-content-login-sidebar[aria-hidden="false"] {
  display: block;
  -webkit-animation: 1.25s t4s-ani-fadeIn;
  animation: 1.25s t4s-ani-fadeIn;
}
/* ------------------------Custom CSS----------------------------- */
#t4s-login-sidebar {
  padding: 30px 40px 30px;
  z-index:1000;
}

#value1-782613option1{
  margin-left:25px;
  height:30px!important;
}
#value0-782613option0{
  height:30px!important;
}
#t4s-login-sidebar .t4s-drawer__header button.t4s-drawer__close {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 37px;
  height: 37px;
  line-height: 37px;
  border-radius: var(--btn-radius2);
  color: var(--secondary-color);
  background-color: rgba(var(--text-color-rgb), 0.14);
}
#t4s-login-sidebar .t4s-drawer__header button.t4s-drawer__close svg {
  transition: 0.5s ease 0s;
  width: 18px;
  height: 18px;
}
#t4s-login-sidebar .t4s-drawer__header > span {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--heading-color);
  font-weight: 500;
  padding: 0 0 12px;
  position: relative;
}
#t4s-login-sidebar .t4s-drawer__header > span::after {
  border-bottom: solid 2px var(--heading-color);
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 210px;
  margin: auto;
}
#t4s-login-sidebar .t4s-drawer__header > span[aria-hidden="false"],
.t4s-content-login-sidebar[aria-hidden="false"] {
  display: block;
  -webkit-animation: 1.25s t4s-ani-fadeIn;
  animation: 1.25s t4s-ani-fadeIn;
}
#t4s-login-sidebar .t4s-drawer__header {
  padding: 0;
  border: none;
  min-height: 1px;
  text-align: center;
  margin-bottom: 40px;
}
#t4s-login-sidebar
  .t4s-drawer__content
  .t4s-drawer__main
  > .t4s-drawer__scroll {
  padding: 0;
}
#t4s-login-sidebar .t4s-content-login-sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
}
#t4s-login-sidebar a {
  color: var(--link-color);
  text-decoration: underline;
  font-size: 12px;
  margin: 0 0 10px;
}
.t4s-btn-full-width {
  width: 100%;
}
#t4s-login-sidebar .t4s_field {
  text-align: inherit;
}
#t4s-login-sidebar .t4s_field label {
  position: absolute;
  top: 0;
  left: 14px;
  transform: scale(1);
  transform-origin: left top;
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  bottom: 0;
}

#t4s-login-sidebar .t4s_field input:-webkit-autofill,
#t4s-login-sidebar .t4s_field input:focus,
#t4s-login-sidebar .t4s_field input:not(:placeholder-shown) {
  padding: 18px 14px 6px;
}

#t4s-login-sidebar .t4s_field input:-webkit-autofill ~ label,
#t4s-login-sidebar .t4s_field input:focus ~ label,
#t4s-login-sidebar .t4s_field input:not(:placeholder-shown) ~ label {
  transform: translateY(-6px) scale(0.8);
}

#t4s-login-sidebar .t4s_fieldinput::-webkit-search-cancel-button,
.t4s_field__input::-webkit-search-cancel-button {
  display: none;
}
.t4s-d-inline-block.t4s-next-tab.pro-account{
  font-size:10px!important;
}
#t4s-login-sidebar .t4s-next-tab{
  font-size:10px;
}
#t4s-login-sidebar .t4s_field input::-webkit-autofill,
#t4s-login-sidebar .t4s_field input:::autofill {
  color: inherit;
}

#t4s-login-sidebar .t4s_field input:-webkit-autofill {
  border-color: rgba(var(--text-color-rgb), 0.8);
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: inherit;
}
#t4s-login-sidebar input {
  color: var(--text-color);
  font-size: 12px;
  padding: 0 20px;
  line-height: 20px;
  border: solid 1px var(--border-color);
  height: 45px;
  background-color: transparent !important;
  border-radius: var(--other-radius);
}
.t4s_frm_input{
  width:100%
}
#t4s-login-sidebar input:focus {
  border-color: var(--secondary-color);
}
#t4s-login-sidebar .t4s_field input::placeholder,
.t4s_field__input::placeholder {
  opacity: 0;
}
#t4s-login-sidebar .t4s_mb_20 {
  margin-bottom: 20px;
}
#t4s-login-sidebar .t4s_btn_submmit,
#t4s-login-sidebar .t4s-next-tab {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 12px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 13px;
  color: var(--t4s-light-color);
  background-color: var(--t4s-dark-color);
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: var(--btn-radius);
  font-family: "AeonikPro-regular";
}
#t4s-login-sidebar .t4s-next-tab {
  background-color: rgba(var(--text-color-rgb), 0.6);
  margin-bottom: 0;
}
#t4s-login-sidebar .required {
  color: inherit;
}
#t4s-login-sidebar .form__message {
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
  align-items: center;
  display: flex;
  text-transform: uppercase;
}
#t4s-login-sidebar .t4s_field + .form__message {
  margin-top: -15px;
  margin-bottom: 20px;
  text-transform: none;
}
#t4s-login-sidebar .form__message > svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
#t4s-login-sidebar .t4s-privacy-policy {
  font-size: 13px;
  line-height: 24px;
  color: var(--secondary-color);
  margin-bottom: 15px;
}
#t4s-login-sidebar .t4s-privacy-policy a:hover {
  color: var(--accent-color);
}
@media (min-width: 768px) {
  #t4s-login-sidebar.t4s-login-popup-true {
    width: 510px;
    padding: 25px 30px 30px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    max-height: 450px;
  }
  #t4s-login-sidebar.t4s-login-popup-true[data-target="recover"] {
    max-height: 386px;
  }
  #t4s-login-sidebar.t4s-login-popup-true[data-target="create"] {
    max-height: 548px;
  }

  #t4s-login-sidebar .t4s-drawer__header button.t4s-drawer__close {
    right: 30px;
    top: 15px;
  }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {
  #t4s-login-sidebar .t4s-drawer__close:hover {
    background-color: transparent;
  }
  #t4s-login-sidebar .t4s-drawer__close:hover > svg {
    transform: rotate(180deg);
  }
  #t4s-login-sidebar a:hover {
    color: var(--link-color-hover);
  }
  #t4s-login-sidebar .t4s_btn_submmit:hover {
    background-color: var(--accent-color);
    color: var(--t4s-light-color);
  }
  #t4s-login-sidebar .t4s-next-tab:hover {
    background-color: var(--t4s-dark-color);
    color: var(--t4s-light-color);
  }
}
