.t4s_compare_page {
	padding: 80px 0;
}
.t4s_compare_table {
	border-left: solid 1px var(--border-color);
	border-bottom: none;
	border-right: none;
	color: var(--text-color);
	font-size: 14px;
	font-weight: 400;
}
.t4s_compare_row {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.t4s_compare_row:first-child > div {
    border-top: solid 1px var(--border-color);
}
.t4s_compare_col {
	display: flex;
	justify-content: center;
	align-items: flex-start;
    padding: 15px;
    word-break: break-word;
}
.t4s_compare_field {
	flex: 0 0 20%;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 15px;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    border-bottom: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
}
.t4s_compare_value {
	line-height: 1.4;
    flex: 0 1 40%;
    color: var(--text-color);
    align-items: center;
    border-bottom: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
}
.t4s_compare_basic_content {
	padding: 15px 0 0;
}
.t4s_compare_basic_content .t4s-product-image {
	margin-bottom: 15px;
    max-height: 240px;
    width: 100%;
}
.t4s_compare_basic_content .t4s-product-image img {
	max-width: 185px;
	right: 0;
	margin: auto;
}
.t4s_compare_row_remove {
    line-height: 40px;
    text-align: center;
}
.t4s_compare_row_remove .t4s_compare_col {
	padding: 7px 0;
}
.t4s_compare_remove {
	color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: auto;
}
.t4s_compare_remove::before,
.t4s_compare_remove::after {
	content: " ";
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    background-color: var(--secondary-color);
    transition: background-color .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out,-webkit-transform .2s ease-in-out;
    right: 0;
    left: 0;
    margin:  auto;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.t4s_compare_remove::after {
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.t4s_compare_product-title {
	color: var(--secondary-color);
	font-weight: 400;
    line-height: 1.3; 
    margin: 0;
    font-size: 14px;
}
.t4s_compare_price {
    font-size: 18px;
}
.t4s_compare_price .t4s-product-price {
    color: var(--primary-price-color);
}
.t4s_compare_price .t4s-product-price ins .t4s-price-from,
.t4s_compare_price .t4s-product-price del {
    color: var(--secondary-price-color);
    font-weight: 400;
}
.t4s_compare_price .t4s-product-price ins .t4s-price-from {
    font-size: 14px;
}
.t4s_compare_price .t4s-product-price ins {
    color: var(--sale-price-color);
    text-decoration: none;
    margin-inline-start: 6px;
}
.t4s_compare_price .t4s-product-price del{
    font-size: 16px;
    color: var(--secondary-price-color)
}
.t4s_compare_price .t4s_compare_onsale {
	width: auto;
    height: auto;
    color: var(--sale-badge-color);
    background-color: var(--sale-badge-background);
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 10px;
    margin: -3px 5px 0;
    vertical-align: top;
}
.t4s_compare_table .t4s-pr-quickview,
.t4s_compare_atc .t4s-pr-addtocart {
	position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    letter-spacing: .3px;
    font-weight: 500;
    cursor: pointer;
    padding: 0 30px;
    line-height: 33px;
    font-size: 12px;
    font-weight: 500;
    border: none;
    color: var(--t4s-light-color);
    background-color: var(--t4s-dark-color);
    text-transform: uppercase;
    border-radius: var(--btn-radius);
}
.t4s_compare_table .t4s-pr-quickview .t4s-svg-pr-icon,
.t4s_compare_atc .t4s-pr-addtocart .t4s-svg-pr-icon {
	display: none;
}
.t4s_compare_table .t4s-pr-quickview .t4s-text-pr,
.t4s_compare_atc .t4s-pr-addtocart .t4s-text-pr {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    width: auto;
    line-height: 33px;
}
.t4s_compare_table .t4s-pr-quickview.is--loading,
.t4s_compare_atc .t4s-pr-addtocart.is--loading {
    pointer-events: none;
}
.t4s_compare_table .t4s-pr-quickview.is--loading::before,
.t4s_compare_atc .t4s-pr-addtocart.is--loading::before {
	width: 18px;
    height: 18px;
    border: 1px solid;
    border-color: var(--border-cl);
    border-top-color: transparent;
    border-radius: 100%;
    opacity: 1;
    -webkit-animation: 450ms linear infinite spin;
    animation: 450ms linear infinite spin;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    content: '';
}
.t4s_compare_table .t4s-pr-quickview.is--loading > span,
.t4s_compare_atc .t4s-pr-addtocart.is--loading > span {
    opacity: 0;
    visibility: hidden;
}
.t4s_compare_value .t4s-product-atc-qty {
    z-index: 3;
    bottom: 0;
    background-color: var(--atc-bg-cl);
    color: var(--atc-cl);
    left: 0;
    transition: .5s;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    pointer-events: auto;
    max-width: 100%;
}
.t4s_compare_value .t4s-product-atc-qty .t4s-quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    max-width: 80px;
    width: 100%;
    background-color: rgba(0,0,0,.08);
}
.t4s_compare_value .t4s-product-atc-qty a {
    height: 33px;
}
.t4s_compare_value .t4s-product-atc-qty .t4s-quantity-wrapper + a,
.t4s_compare_value .t4s-product-atc-qty > a {
    padding: 0 15px;
}
.t4s_compare_value .t4s-product-atc-qty .t4s-quantity-selector {
    min-width: 25px;
    height: 100%;
    display: flex;
    text-align: center;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: .25s;
    color: var(--atc-cl);
    background-color: transparent;
}
.t4s_compare_value .t4s-product-atc-qty .t4s-quantity-selector svg.icon {
    width: 8px;
}
.t4s_compare_value .t4s-product-atc-qty input.t4s-quantity-input {
    border: none;
    text-align: center;
    background-color: transparent;
    color: inherit;
    padding: 0;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    border-left: 1px solid rgba(255,255,255,.15);
    border-right: 1px solid rgba(255,255,255,.15);
    display: flex;
    justify-content: center;
    width: 30px;
}
.t4s_compare_value .t4s-product-atc-qty  input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}
.t4s_compare_value .t4s-product-atc-qty {
    border-radius: var(--pr-btn-radius-size);
    pointer-events: auto;
}
.t4s_compare_value .t4s-product-atc-qty .t4s-pr-addtocart {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    width: auto;
}
.t4s_compare_stock {
	font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
}
@media(max-width: 1024px) {
	.t4s_compare_table {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.t4s_compare_row .t4s_compare_col {
		flex: 0 0 33.33333%;
	}
	.t4s_compare_basic .t4s_compare_value {
		justify-content: center;
	}
}
@media(max-width: 767px) {
	.t4s_compare_field {
		display: none;
	}
	.t4s_compare_row .t4s_compare_col {
		flex-direction: column;
		justify-content: flex-start;
	}
	.t4s_compare_value {
		padding: 10px;
	}
	.t4s_compare_basic .t4s_compare_value {
		justify-content: center;
		align-items: center;
	}
	.t4s_compare_value::before {
		content: attr(data-title);
	    display: block;
	    margin-top: 0;
	    margin-bottom: 10px;
	    padding: 10px;
	    width: 100%;
	    color: var(--secondary-color);
	    background-color: var(--border-color);
	    font-weight: 500;
	    font-size: 14px;
	}
	.t4s_compare_row_remove .t4s_compare_value::before,
	.t4s_compare_basic .t4s_compare_value::before {
	    display: none
	}

}

.t4s_compare_list-wrap .t4s_compare_list-head, .t4s_compare_list-wrap .t4s_compare_list-btns {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
@media(max-width: 640px) {
	.t4s_compare_row .t4s_compare_col {
		flex: 1 0 50%;
	}
}
@media(max-width: 575px) {
	.t4s_compare_row .t4s_compare_col {
		flex: 1 0 75%;
	}
}
.t4s_empty_page  {
    padding: 140px 0;
}
.t4s_empty_page > svg {
	color: var(--text-cl);
	opacity: 0.2;
	fill: currentColor;
	margin-bottom: 25px;
}
.t4s_empty_page .t4s_empty_title {
	font-size: 30px;
	margin-bottom: 22px;
	line-height: 40px;
	color: var(--heading-color);
}
.t4s_empty_page .t4s_empty_des {
	font-size: 14px;
	color: var(--text-color);
	line-height: 24px;
	margin-bottom: 32px;
}
@media(min-width: 767px) {
	.t4s_empty_page {
		padding: 200px 0;
	}
	.t4s_empty_page > svg {
		width: 150px;
		height: 150px;
	}
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) { 
    .t4s_compare_remove:hover {
        color: var(--accent-color);
    }
    .t4s_compare_remove:hover::before,
    .t4s_compare_remove:hover::after {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background-color: var(--accent-color);
    }
    .t4s_compare_product-title:hover {
        color: var(--accent-color);
    }
    .t4s_compare_table .t4s-pr-quickview:hover,
    .t4s-pr-addtocart:hover {
        opacity: 1;
        color: var(--t4s-light-color);
        background-color: var(--accent-color);
    }
    .t4s_compare_value .t4s-product-atc-qty .t4s-quantity-selector:hover,
    .t4s_compare_value .t4s-product-atc-qty input.t4s-quantity-input:hover {
        background-color: rgba(0,0,0,.12);
    }
}