.is-width-standard .container {
  max-width: 1360px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  padding: 0 10px;
}

.col-2 {
  flex: 0 0 16.666666%;
  max-width: 16.666666%;
  padding: 0 10px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 10px;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 10px;
}

.col-5 {
  flex: 0 0 41.666666%;
  max-width: 41.666666%;
  padding: 0 10px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  padding: 0 10px;
}

.col-8 {
  flex: 0 0 66.666666%;
  max-width: 66.666666%;
  padding: 0 10px;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 10px;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  padding: 0 10px;
}

.col-11 {
  flex: 0 0 91.666666%;
  max-width: 91.666666%;
  padding: 0 10px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px;
}

@media screen and (max-width: 992px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.is-flex {
  display: flex;
}

.is-justify-between {
  justify-content: space-between;
} 

.is-align-center {
  align-items: center;
}

#MainContent {
  position: relative;
  z-index: 1;
  background: #fff;
}

.black_friday_banner header {
  top: 80px !important;
}

.black-friday-promo-banner .main--banner .container {
  position: relative;
  z-index: 4;
}

.black_friday_banner .shopify-section-header-hidden {
  transform: translateY(-200%);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.heading--wrapper {
  position: relative;
}

.heading--wrapper h2 {
  line-height: 0.3;
  font-family: 'Aeonik Pro' !important;
  color: #0C131A;
  text-align: left;
}

.heading--wrapper h2 .formatted_text {
  font-family: "sloop-script-pro", sans-serif;
  margin-right: -2px;
  line-height: 0.9;
  font-weight: 400;
  font-size:147px;
}

.black-friday-promo-banner .floating-text {
font-family: Aeonik Pro;
    position: absolute;
    display: inline-flex;
    transform: rotate(-8.684deg);
    padding: 16px 32px;
    border-radius: 171px;
    background: #ffffff;
    color: #0c131a;
    text-transform: uppercase;
    left: 45%;
    top: 51%;
    z-index: 5;
    width: max-content;
    border: 1px solid black;
    border-width: 2px;
}

.main--banner .content--wrapper p {
  font-family: 'AeonikPro-Medium' !important;
  color: #0C131A;
  text-align: center;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 48px;
  padding: 0 8px;
}

.black-friday-promo-banner .button {
  font-family: 'AeonikPro-Medium' !important;
  padding: 16px 32px;
  display: inline-flex;
  color: #FFF;
  text-align: center;
  font-size: 21px;
  line-height: 1;
  text-transform: capitalize;
  border-radius: 12px;
  background: #0C131A;
  transition: all 0.35s ease-in-out;
}

.black-friday-promo-banner .button:hover {
  transform: scale(1.1);
}

.black-friday-promo-banner .sticky--banner::before, 
.black-friday-promo-banner .sticky--banner::after,
.black-friday-promo-banner .main--banner::before, 
.black-friday-promo-banner .main--banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
#shopify-section-black-friday-promo-banner .sticky--banner {height:80px}
.black-friday-promo-banner .main--banner::before {
  left: 0;
  top: 0;
  background: url('/cdn/shop/files/R4-4-6-10_2.png?v=1761848951') no-repeat top left / 21.5%;
}

.black-friday-promo-banner .main--banner::after {
  right: 0;
  top: 0;
  background: url('/cdn/shop/files/R4-4-6-10_3.png?v=1761848951') no-repeat top right / 18%;
  mix-blend-mode: multiply;
}

.black-friday-promo-banner .sticky--banner::before {
  left: 0;
  top: 0;
  background: url('/cdn/shop/files/R4-4-6-10_2_1.png?v=1761921229') no-repeat top left / contain;
}

.black-friday-promo-banner .sticky--banner::after {
  right: 0;
  top: 0;
  background: url('/cdn/shop/files/R4-4-6-10_3_1.png?v=1761921229') no-repeat top right / contain;
  mix-blend-mode: multiply;
}

.black-friday-promo-banner .image-1 {
  position: absolute;
  inset: 0;
  background: url('/cdn/shop/files/DSC_8104_1.png?v=1761848951') no-repeat left bottom / 21%;
  mix-blend-mode: multiply;
}

.black-friday-promo-banner .image-2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/cdn/shop/files/001_1.png?v=1761849529') no-repeat 73% bottom / 41%;
  mix-blend-mode: multiply;
  z-index:3
}

.sticky--banner .container {
  position: relative;
  z-index: 1;
}

.sticky--banner h2 {
  line-height: 1;
  font-family: 'Aeonik Pro' !important;
  color: #0C131A;
  text-transform: uppercase;
}

.sticky--banner h2 .formatted_text {
  font-family: "sloop-script-pro", sans-serif;
  margin-right: -2px;
  line-height: 1;
  font-weight: 400;
  font-size: 60px;
  text-transform: capitalize;
}

.sticky--banner .content--wrapper p {
  font-family: 'AeonikPro-Medium' !important; 
  color: #0C131A;
  text-align: left;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.sticky--banner .button {
  font-size: 18px;
  padding: 16px 32px;
}

.sticky--banner .col-4 {
  flex: 0 0 auto;
  max-width: max-content;
}

.sticky--banner .col-4:nth-child(2) {
  flex-shrink: 1;
}

@media screen and (max-width: 1336px) {
  .heading--wrapper h2 .formatted_text {
    font-size: 102px;
  }
  .main--banner .heading--wrapper h2 {
    font-size: 100px;
  }
  .main--banner {
    height: 500px !important;
    max-height: 500px !important;
  }
  .black-friday-promo-banner .floating-text {
    left: 46%;
    top: 42%;
    z-index:6;
  }
}

@media screen and (max-width: 1198px) {
  .heading--wrapper h2 .formatted_text {
    font-size: 100px;
  }
  .main--banner .heading--wrapper h2 {
    font-size: 80px;
    margin-top: -20px;
  }
  .main--banner .col-8 {
    display: flex;
    align-items: center;
  }
  .main--banner {
    height: 400px !important;
    max-height: 400px !important;
  }
  .black-friday-promo-banner .floating-text {
    padding: 12px 22px;
    font-size: 15px;
    left: 42.5%;
    top: 47%;
    z-index:6;
  }
  .main--banner .content--wrapper p {
    margin-bottom: 25px;
    font-size: 20.4px;
  }
  .black-friday-promo-banner .button {
    padding: 16px 30px;
    font-size: 20px;
  }
  .sticky--banner h2 {
    font-size: 42px;
  }
  .sticky--banner h2 .formatted_text {
    font-size: 47px;
    margin-right: -2px;
  }
  .sticky--banner .content--wrapper p {
    font-size: 16px;
  }
  .sticky--banner .button {
    font-size: 16px;
    padding: 16px 25px;
  }
}

@media screen and (max-width: 992px) {
  .main--banner {
    height: auto !important;
    max-height: max-content !important;
    padding: 115px;
  }
  .main--banner .image-1 {
    display: none;
  }
  .black-friday-promo-banner .main--banner:after {
    display: none;
  }
  .black-friday-promo-banner .button {
    padding: 20px 35px;
    font-size: 22px;
  }
  .main--banner .content--wrapper p {
    margin-bottom: 30px;
    font-size: 26px;
    padding: 0 12%;
  }
  .main--banner .heading--wrapper h2 {
    text-align: center;
    line-height: 0.4;
    font-size: 9vw;
  }
  .main--banner .col-8 {
    margin-bottom: 140px;
  }
  .heading--wrapper h2 .formatted_text {
    font-size: 95px;
    margin-right: -2px;
  }
  .black-friday-promo-banner .floating-text {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10.684deg);
    font-size: 18px;
    padding: 15px 35px;
    top: 40%;
    z-index: 5;
  }
  .black-friday-promo-banner .main--banner::before {
    background: url('/cdn/shop/files/R4-4-6-10_2_2.png?v=1761926994') no-repeat left top / 35%;
  }
  .black-friday-promo-banner .image-2 {
    background: url('/cdn/shop/files/001_1_2.png?v=1761926995') no-repeat right bottom / 50%;
  }
  .sticky--banner h2 .formatted_text {
    font-size: 45px;
    margin-right: -2px;
  }
  .sticky--banner h2 {
    font-size: 38px;
  }
  .sticky--banner .button {
    padding: 14px 25px;
    font-size: 16px;
  }
  .sticky--banner .col-4 {
    flex: 0 0 46%;
    max-width: 46%;
  }
  .sticky--banner .col-4:last-child {
    flex: 0 0 auto;
    max-width: max-content;
  }
  .sticky--banner .col-4:first-child {
    flex: 0 0 auto;
    max-width: max-content;
  }
  .sticky--banner .content--wrapper p {
    font-size: 20px;
    text-align: left;
  }
  .black-friday-promo-banner .sticky--banner::before {
    background: url('/cdn/shop/files/R4-4-6-10_2_cbc25ccd-148c-4395-b24d-0c94cf28ccdd.png?v=1761932749') no-repeat left / contain;
  }
  .black-friday-promo-banner .sticky--banner::after {
    background: url('/cdn//shop/files/001_1_1bc3a263-644b-463a-9769-69424e925626.png?v=1761932748') no-repeat right / contain;
  }
}

@media screen and (max-width: 767px) {
  .sticky--banner h2 {
    font-size: 7vw;
  }
  .sticky--banner h2 .formatted_text {
    font-size: 8.5vw;
    margin-right: -2px;
  }
  .black-friday-promo-banner .button {
    padding: 13px 22px;
    font-size: 16px;
    z-index:4;
  }
  .sticky--banner .col-4 {
    padding: 0;
  }
  .sticky--banner {
    height: 66px !important;
  }
  .black_friday_banner header {
    top: 66px !important;
  }
  .black-friday-promo-banner .sticky--banner::before {
    background: url('https://cdn.shopify.com/s/files/1/0671/5614/8541/files/R4-4-6-10_2_1_dfd5cf06-410e-4174-9524-6ed4534d93ad.png?v=1761933682') no-repeat left / contain;
  }
  .sticky--banner .col-4 {
    display: none;
  }
  .sticky--banner .col-4:last-child,
  .sticky--banner .col-4:first-child {
    display: block;
  }
  .main--banner {
    padding: 130px 20px;
  }
  .main--banner .heading--wrapper h2 {
    font-size: 12vw;
  }
  .main--banner .content--wrapper p {
    font-size: 22px;
    padding: 0;
  }
  .main--banner .col-8 {
    margin-bottom: 120px;
  }
  .black-friday-promo-banner .floating-text {
    left: 50%;
    font-size: 13px;
    padding: 10px 26px;
    top: 39%;
    z-index:6;
  }
  .heading--wrapper h2 .formatted_text {
    font-size: 15vw;
    margin-right: -2px;
  }
  .black-friday-promo-banner .button {
    padding: 15px 30px;
    font-size: 18px;
  }
  .black-friday-promo-banner .main--banner:before {
    background-position-x: -25%;
    background-position-y: 115%;
    background-size: 63%;
  }
  .black-friday-promo-banner .image-2 {
    background-position-x: 136%;
    background-position-y: bottom;
    background-size: 70%;
  }
}

@media screen and (max-width: 480px) {
  .black-friday-promo-banner .button {
    padding: 16px;
    font-size: 15px;
  }
  .sticky--banner h2 {
    font-size: 7.5vw;
  }
  .sticky--banner h2 .formatted_text {
    font-size: 10.5vw;
    margin-right: -2px;
  }
  .main--banner .heading--wrapper h2 {
    text-align: center;
    line-height: 0.8;
    font-size: 12vw;
  }
}