.breadcrumb_pr_wrap {
    border-top: solid 1px var(--border-color);
    border-bottom: solid 1px var(--border-color);
}
.breadcrumb_pr_wrap.t4s-border-none { 
    border: none;
}
.breadcrumb_pr_wrap.t4s-border-top {
    border-bottom: none;
}
.breadcrumb_pr_wrap.t4s-border-bottom {
    border-top: none; 
}
nav.t4s-pr-breadcrumb {
    font-size: 13px;
    line-height: 18px;
    text-transform: lowercase;
    font-family: 'AeonikPro-Regular';
}
.t4s-pr-breadcrumb svg { 
    width: 10px;
    margin: 0 5px;
    position: relative;
    top: 4px;
}
.breadcrumb_pr_wrap {
    background: var(--cl_bg);
    margin-bottom: var(--margin_bt);
    padding: 25px 0;
    line-height: 18px;
}
.breadcrumb_pr_wrap .t4s-text-pr{
	display: none;
}
.t4s-pr-next-prev {
    margin: 0 -9px;
    height: 20px;
}
a.t4s-nav-pr {
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 20px;
}
.t4s-nav-pr svg {
    width: 18px;
    height: 20px;
}
.breadcrumb_pr_wrap a:not(:hover),.t4s-pr-breadcrumb svg,.t4s-pr-breadcrumb > span {
    color: var(--cl_link);
}
a.t4s-nav-back {
    margin: 0 7px;
    display: inline-block;
}
.t4s-pr-breadcrumb > span {
    opacity: 0.6;
}

