.is--listview .t4s-product {
    width: 100% !important;
}
.is--listview .t4s-product:not(:first-child) {
    margin-top: 0;
}
.is--listview .t4s-product .t4s-product-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0;
    -ms-flex-align: start;
    border: 1px solid var(--border-color); 
    padding: 10px;
    margin-bottom: 0;
}
.is--listview .t4s-product:not(:last-child) .t4s-product-wrapper {
    border-bottom: none;
}
.is--listview .t4s-product .t4s-product-inner {
    width: 215px;
    margin-right: 30px;
    min-width: 80px;
    position: relative;
}
.is--listview .t4s-product-inner .t4s-product-sizes {
    left: 0;
    right: 0;
}
.is--listview .t4s-product .t4s-rte {
    display: block;
    color: var(--content-cl);
}
.is--listview .t4s-product .t4s-product-btns2 .t4s-pr-quickview {
    display: none;
}
.is--listview .t4s-product .t4s-product-info {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 0!important;
    flex: 1 0 0;
    max-width: calc(100% - 255px);
    position: static;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-info {
    flex: 1 1 auto;
}
.t4_has_quickview_true .is--listview .t4s-pr-style1 .t4s-product-inner .t4s-pr-group-variable, 
.t4_has_atc_true .is--listview .t4s-pr-style1 .t4s-product-inner .t4s-pr-group-variable,
.is--listview .t4s-product .t4s-product-inner .t4s-pr-group-variable {
    bottom: 5px !important;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns {
    position: static;
    opacity: 1;
    visibility: visible;
    flex-direction: column;
    transform: translateY(0) !important;
    margin: 0;
    margin-left: 30px;
    width: 250px;
    flex: 0 0 auto;
    display: block !important;
    border: none;
    padding: 0;
}

.is--listview .t4s-product .t4s-product-atc-qty {
    margin: 5px 0;
}
.is--listview .t4s-product .t4s-product-atc-qty,
.is--listview .t4s-product .t4s-product-btns > .t4s-pr-addtocart  {
    max-width: 100%;
    display: inline-flex;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns > a {
    margin: 5px 0;
    min-width: 130px;
    width: auto;
    padding: 0 15px;
    transform: translateY(0) !important;
    opacity: 1;
    visibility: visible;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns .t4s-pr-quickview {
    height: 35px;
    border: solid 1px;
    max-width: 100%;
    border-color: var(--border-color);
    display: inline-flex;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns a > span {
    width: 100%;
    height: 100%;
    transition: opacity .15s,transform .25s,-webkit-transform .25s;
    display: block;
}
.is--listview .t4s-product .t4s-product-atc-qty .t4s-quantity-wrapper + a,
.is--listview .t4s-product .t4s-product-atc-qty > a {
    width: calc(100% - 80px);
    padding: 0 15px;
    margin: 0;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns a .t4s-svg-pr-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(100%);
    display: flex;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns a .t4s-svg-pr-icon svg {
    width: 20px;
    height: 20px;
    height: 100%;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns a .t4s-text-pr {
    margin: 0;
    text-transform: unset;
}
.is--listview .t4s-product .t4s-product-info .t4s-product-btns a.t4s-pr-quickview .t4s-text-pr {
    line-height: 33px;
}
.is--listview .t4s-product .t4s-product-sizes {
    left: 0;
    right: 0;
}
.is--listview .t4s-product .t4s-product-info__btns,
.is--listview .t4s-pr-style4 .t4s-product-info .t4s-product-info__btns {
    display: block;
}
.is--listview .t4s-pr-style4 .t4s-product-info .t4s-product-info__inner .t4s-product-btns:not(.t4s-product-info__btns) {
    display: none !important;
}
.is--listview .t4s-product .t4s-product-inner .t4s-pr-quickview,
.is--listview .t4s-product .t4s-product-inner .t4s-pr-addtocart,
.is--listview .t4s-product .t4s-product-inner .t4s-product-atc-qty,
.is--listview .t4s-pr-style1 .t4s-product-inner .t4s-product-btns .t4s-pr-group-btns,
.is--listview .t4s-product .t4s-product-info__inner .t4s-product-btns,
.is--listview .t4s-product .t4s-product-info__inner .t4s-product-btns2,
.is--listview .t4s-pr-style3 .t4s-product-btns .t4s-pr-group-btns,
.is--listview .t4s-pr-packery .t4s-product-btns,
.is--listview .t4s-pr-style4 .t4s-product-info > .t4s-pr-addtocart,
.is--listview .t4s-pr-style4 .t4s-product-info > .t4s-product-atc-qty {
    display: none;
}
.is--listview .t4s-pr-style5 .t4s-product-info__btns > *:not(.t4s-pr-wishlist) {
    opacity: 1;
    visibility: visible;
}
.is--listview .t4s-pr-style6 .t4s-product-inner .t4s-pr-group-variable {
    bottom: 5px;
}
.is--listview .t4s-product:not(.t4s-pr-style4):not(.t4s-pr-style6) .t4s-product-btns > * {
    height: 33px;
    line-height: 33px;
}
.is--listview .t4s-product:not(.t4s-pr-style4):not(.t4s-pr-style6) .t4s-product-btns > * > * {
    line-height: 33px;
}
/* .is--listview .t4s-product a.t4s-pr-wishlist, 
.css_for_wis_app_true .is--listview  .t4s-product .t4s-pr-wishlist {
    color: var(--pr-wishlist-color2);
} */

.is--listview .t4s-pr-packery .t4s-product-countdown {
    bottom: 10px;
    top: auto;
    transform: translateY(0);
}
.is--listview .t4s-pr-packery .t4s-product-title {
    color: var(--product-list-title-color);
}
.is--listview .t4s-pr-packery .t4s-product-vendor a {
    color: var(--product-list-vendors-color);
}
.is--listview .t4s-pr-packery .t4s-product-price {
    color: var(--product-list-price-color);
}
.is--listview .t4s-pr-packery .t4s-product-price ins{
    color: var(--product-list-price-sale-color);
}
.is--listview .t4s-pr-packery .t4s-product-info .t4s-pr-group-variable .t4s-product-sizes {
    color: var(--size-list-color2);
}
@media(max-width: 1024px) {
    .is--listview .t4s-product .t4s-product-inner {
        margin-right: 20px;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns {
        margin-left: 20px;
    }
    .is--listview .t4s-product .t4s-product-info {
        max-width: calc(100% - 235px);
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns a .t4s-text-pr {
        display: block;
    }
    .is--listview .t4s-product .t4s-product-wrapper {
        padding: 15px;
    }
    .is--listview .t4s-pr-style3 .t4s-product-btns2 {
        top: 10px;
        bottom: auto;
        right: 10px;
    }
    .is--listview .t4s-product.t4s-pr-style6 .t4s-product-inner .t4s-product-btns {
        display: none;
    }
    .is--listview .t4s-pr-style6 .t4s-product-inner .t4s-pr-group-variable {
        bottom: 40px;
    }
    .t4_has_quickview_true .is--listview .t4s-pr-style6 .t4s-product-btns2, 
    .t4_has_atc_true .is--listview .t4s-pr-style6 .t4s-product-btns2 {
        bottom: 0;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns a:hover .t4s-svg-pr-icon {
        transform: translateY(0);
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns a:hover .t4s-text-pr {
        transform: translateY(-100%);
    }
}
@media(max-width: 767px) {
    .is--listview .t4s-product .t4s-product-inner {
        margin-right: 15px;
    }
    .is--listview .t4s-product .t4s-rte {
        display: none;
    }
    .is--listview .t4s-product .t4s-product-info {
        flex-direction: column;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns {
        margin-left: 0;
    }
}
@media(max-width: 639px) {
    .is--listview .t4s-product .t4s-product-wrapper {
        padding: 10px;
    }
    .is--listview .t4s-product .t4s-product-inner {
        margin-right: 10px;
        width: 200px;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns {
        margin-left: 10px;
    }
    .is--listview .t4s-product .t4s-product-info {
        max-width: calc(100% - 210px);
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns .t4s-pr-quickview,
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns > a {
        min-width: 130px;
        padding: 0 10px;
    }
    .is--listview .t4s-pr-style3 .t4s-product-btns2 {
        top: 5px;
        right: 5px;
    } 
}
@media(max-width: 500px) {
    .is--listview .t4s-product .t4s-product-inner {
        margin-right: 10px;
        width: 150px;
        max-width: 50%;
    }
    .is--listview .t4s-product .t4s-product-info {
        max-width: calc(100% - 160px);
    }
    .is--listview .t4s-product .t4s-product-info {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-info__inner {
        max-width: 100%;
    }
    .is--listview .t4s-product .t4s-product-btns {
        align-items: flex-start !important;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns {
        margin-left: 0;
        width: auto;
        display: flex !important;
        text-align: left;
    }
    .is--listview .t4s-product .t4s-pr-description {
        display: none;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns .t4s-pr-quickview,
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns > a  {
        padding: 0 15px;
    }
}
@media(max-width: 360px) {
    .is--listview .t4s-product .t4s-product-inner {
        width: 130px;
    }
    .is--listview .t4s-product .t4s-product-info {
        max-width: calc(100% - 140px);
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns {
        width: 100%;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns .t4s-pr-quickview,
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns > a  {
        min-width: 1px;
    }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns .t4s-pr-quickview:hover {
        border-color: var(--border-color);
    }
    .is--listview .t4s-product .t4s-product-btns .t4s-pr-item-btn:hover .t4s-svg-pr-icon {
        animation: none !important;
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns a:hover .t4s-svg-pr-icon {
        transform: translateY(0);
    }
    .is--listview .t4s-product .t4s-product-info .t4s-product-btns a:hover .t4s-text-pr {
        transform: translateY(-100%);
    }
    .is--listview .t4s-pr-packery:hover .t4s-product-countdown {
        transform: translateY(40px);
    }
    .is--listview .t4s-pr-packery .t4s-product-title a:hover {
        color: var(--product-list-title-color-hover);
    }
    .is--listview .t4s-pr-packery .t4s-product-vendor a:hover {
        color: var(--product-list-vendors-color-hover);
    }
}
@media (min-width: 1024px) {
  .is--listview .t4s-pr-style7 .t4s-product-info__inner {
      order: 4;
  }
  .is--listview .t4s-pr-style7 .t4s-product-swatch__info {
      order: 1;
      min-width: 200px;
      border: 4px double var(--border-color);
      padding: 20px;
      margin-right: 30px;
      text-align: center;
      border-radius: 4px;
  }
  .is--listview .t4s-product.t4s-pr-style7 .t4s-product-inner .t4s-product-atc-qty {
   display: inline-flex;    
   margin: 0;
  }
  .is--listview .t4s-product.t4s-pr-style7 .t4s-product-inner .t4s-pr-addtocart {
    display: block;
  }
  .is--listview .t4s-product.t4s-pr-style7 .t4s-swatch-grid__list {
      justify-content: center;
  }
}
@media (max-width: 768px) {
  .is--listview .t4s-product.t4s-pr-style7 .t4s-product-inner .t4s-product-atc-qty {
   display: inline-flex;    
   margin: 0;
  }
  .is--listview .t4s-product.t4s-pr-style7 .t4s-product-inner .t4s-pr-addtocart {
    display: block;
  }
  .is--listview .t4s-product.t4s-pr-style7 .t4s-product-info {
    flex-wrap: wrap;
  }
  .is--listview .t4s-product.t4s-pr-style7 .t4s-product-swatch__info {
      margin-top: 20px;
  }
}