.t4s-menu-item .t4s-heading-menu {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 30px;
}
.t4s-menu-item .t4s-sub-menu {
	text-align:left;
}
.t4s-navigation #t4s-nav-ul {
    text-align: left;
}
.t4s-navigation .t4s-type__mega>.t4s-sub-menu {
    padding: var(--pd-mg);
}
.nt_menu .sub-menu .sub-column-item>a {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding: 13px 0;
    border-bottom: 1px solid var(--border-color);
}
.type_mn_link>.t4s-heading {
    position: relative;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    padding: 0 0 8px;
    display: block;
    margin-bottom: 12px;
}
.type_mn_link>.t4s-heading::after {
    content: "";
    width: 35px;
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
.type_mn_link>.t4s-heading.t4s-h-has-border-false:after,
.t4s-products-loop .t4s-heading:after{
    display: none;
}
.type_mn_link>.t4s-heading.t4s-h-has-border-false,
.t4s-products-loop .t4s-heading.t4s-h-has-border-false{
    padding: 0;
}
.type_mn_link .t4s-sub-column {
    padding: 0;
    margin-bottom:0;
}
.type_mn_link .t4s-sub-column li a {
    font-size: var(--item-fsize);
    padding: calc(0.5 * var(--space-bt-items,16px)) 0;
    display: block;
    line-height: 1.25;
    position: relative;
}
.type_mn_link .t4s-sub-column li a:not(:hover) {
  color:var(--text-color);
}
.type_mn_link .t4s-sub-column .t4s_lb_nav {
    right: auto;
    margin-top: -13px;
    margin-left: 4px;
}
.type_mn_link .t4s-sub-column li:last-child a {
    padding-bottom: 0;
}
.type_mn_link .t4s-sub-column li:last-child a .t4s_lb_nav {
    margin-top: -4px;
}
.t4s-navigation > ul > li.has--children.is-action__hover > a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: -40px;
    right: 0;
}
.t4s-navigation .t4s-post-item .t4s-post-info {
    margin-bottom: 0;
}
.t4s-menu-item a > i {
    font-size: 18px;
    margin-right: 4px;
}
.t4s-type__mega .t4s-gx-15, .t4s-type__mega .t4s-px-15 {
    --ts-gutter-x: 15px;
}
.t4s-type__mega .t4s-gy-15 {
    --ts-gutter-y: 15px;
}
.t4s-products-loop .t4s-heading {
    position: relative;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding: 0 0 8px;
    display: block;
    margin-bottom: 20px;
    font-family: 'Druk Wide';
}
.t4s-products-loop .t4s-heading::after {
    content: "";
    width: 35px;
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
.t4s-products-loop .t4s-widget__pr {
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
.t4s-products-loop  .t4s-widget__pr:last-child {
    padding-bottom: 0;
    border: none;
}
.t4s-products-loop  .t4s-widget__pr .t4s-widget_img_pr {
    padding: 0;
    max-width: 92px;
}
.t4s-products-loop  .t4s-widget__pr .t4s-widget_if_pr {
    padding-left: 20px;
    padding-right: 25px;
}
.t4s-products-loop .t4s-list-products-bestseller .t4s-widget__pr .t4s-widget_if_pr {
    padding-right: 0;
}
.t4s-products-loop  .t4s-widget__pr .t4s-widget__pr-title {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
    display: block; 
    line-height: 1.25;
    margin-bottom: 3px;
    font-family: 'Druk Wide';
    text-transform:uppercase;
}
.t4s-products-loop  .t4s-widget__pr .t4s-widget__pr-title:hover {
    color: var(--accent-color);
}
.t4s-products-loop  .t4s-widget__pr .t4s-widget__pr-price {
    color: var(--secondary-price-color);
    font-size: 12px;
}
.t4s-products-loop  .t4s-widget__pr .t4s-widget__pr-price ins {
    color: var(--primary-price-color);
    margin-left: 5px;
}
.t4s-navigation .t4s-article-item .t4s-article-title {
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.t4s-navigation .t4s-flickity-slider.t4s-slider-btn-small.blog_slider .flickityt4s-prev-next-button, 
.t4s-navigation .t4s_box_pr_slider.t4s-flickity-slider.t4s-slider-btn-small .flickityt4s-prev-next-button {
    width: 24px;
    height: 24px;
}
.t4s-navigation .t4s-flickity-slider.t4s-slider-btn__out-content.blog_slider .flickityt4s-prev-next-button.previous,
.t4s-navigation .t4s_box_pr_slider.t4s-flickity-slider.t4s-slider-btn__out-content .flickityt4s-prev-next-button.previous{
    left: var(--ts-gutter-x);
}
.t4s-navigation .t4s-flickity-slider.t4s-slider-btn__out-content.blog_slider .flickityt4s-prev-next-button.next,
.t4s-navigation .t4s_box_pr_slider.t4s-flickity-slider.t4s-slider-btn__out-content .flickityt4s-prev-next-button.next {
    right: var(--ts-gutter-x);
}
.t4s-navigation .t4s-flickity-slider.t4s-slider-btn__out-content.blog_slider.t4s-slider-btn-small .flickityt4s-prev-next-button.previous,
.t4s-navigation .t4s_box_pr_slider.t4s-flickity-slider.t4s-slider-btn__out-content.t4s-slider-btn-small .flickityt4s-prev-next-button.previous{
    left: 24px;
}
.t4s-navigation .t4s-flickity-slider.t4s-slider-btn__out-content.blog_slider.t4s-slider-btn-small .flickityt4s-prev-next-button.next,
.t4s-navigation .t4s_box_pr_slider.t4s-flickity-slider.t4s-slider-btn__out-content.t4s-slider-btn-small .flickityt4s-prev-next-button.next {
    right: 24px;
}
.t4s-navigation .t4s-article-item .t4s-article-tags:last-child,.t4s-navigation .t4s-article-item .t4s-article-metas:last-child {
    margin-bottom: 0;
}
.t4s-navigation .t4s-blogs-cl-bd-true {
    border-left: 1px solid var(--border-color);
    padding-left: 35px!important;
}
.type_mn_link2 > a {
    display: block;
    font-weight: 300;
    font-size: var(--item-fsize);
    padding: calc(0.5 * var(--space-bt-items,16px)) 0;
    position:relative;
    line-height: 1.25;
}
.type_mn_link2>a .t4s_lb_nav {
    right: auto;
    top: auto;
    transform: none;
    margin: -6px 4px 0;
}
.type_mn_link2>a:first-child {
    padding-top: 0;
}
.type_mn_link2>a:last-child {
    padding-bottom: 0;
}
.type_mn_link2 > a:not(:hover) {
    color: var(--secondary-color);
}
.type_mn_link2 > a:last-child {
    padding-bottom: 0;
}
span.t4s-sale-off-txt span {
    font-size: 20px;
    font-weight: 200;
}
span.t4s-sale-off-txt {
    display: flex;
    font-size: 9px;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
span.t4s-label-sale-off {
    position: absolute;
    top: -15px;
    background: var(--bg-sale-cl);
    color: var(--sale-cl-text);
    height: 44px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    line-height: 44px;
    border-radius: 17px;
    font-size: 40px;
    font-weight: 300;
}
span.t4s-label-sale-off::after {
    border-width: 13px 13px 0 0px;
    border-color: var(--bg-sale-cl) transparent transparent;
    bottom: -10px;
    border-style: solid;
    width: 12px;
    height: 12px;
    content: "";
    left: 100%;
    transform: translateX(-20px);
    position: absolute;
    display: inline-block;
}