.pro_availability--out_stock {
  display: none;
}
.pro_unavailability--in_stock {
  display: none;
}
span.sold_badge {
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 9;
  top: 30px;
  color: #e6e6e6;
  background-color: #222;
  padding: 4px 12px;
  border-radius: 50px;
  font-size: 12px;
  text-transform: capitalize;
}
.t4s-product-badge.empty_element + span.sold_badge {
  top: -5px;
}

.t4s-product {
  --wishlist-cl: var(--pr-wishlist-color2);
  --wishlist-bg-cl: var(--pr-wishlist-color);
  --wishlist-hover-cl: var(--pr-wishlist-color2-hover);
  --wishlist-active-cl: var(--pr-wishlist-color2-active);
  --wishlist-active-bg-cl: var(--pr-wishlist-color-active);
  --wishlist-hover-bg-cl: var(--pr-wishlist-color-hover);
  --compare-cl: var(--pr-compare-color2);
  --compare-bg-cl: var(--pr-compare-color);
  --compare-hover-cl: var(--pr-compare-color2-hover);
  --compare-hover-bg-cl: var(--pr-compare-color-hover);
  --quickview-cl: var(--pr-quickview-color2);
  --quickview-bg-cl: var(--pr-quickview-color);
  --quickview-hover-cl: var(--pr-quickview-color2-hover);
  --quickview-hover-bg-cl: var(--pr-quickview-color-hover);
  --atc-cl: var(--pr-addtocart-color2);
  --atc-bg-cl: var(--pr-addtocart-color);
  --atc-hover-cl: var(--pr-addtocart-color2-hover);
  --atc-hover-bg-cl: var(--pr-addtocart-color-hover);
  --content-cl: var(--content-color);
}

.t4s-badge-item {
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
  padding: 0 5px;
  min-width: 47px;
  margin-top: 5px;
  text-transform: capitalize;
  font-size: 12px;
  text-align: center;
  line-height: 23px;
  background-color: var(--badge-color-primary);
  color: var(--badge-color-secondary);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  
}
.t4s-badge-item[hidden] {
  display: none;
}
.t4s-badge-item:last-child {
  margin: 0;
}
.badge_shape_1 .t4s-badge-item {
  border-radius: 20px;
  height: 31px;
  padding: 1px 12px;
  margin-top: 5px;
  margin-right: 5px;
}
.badge_shape_2 .t4s-badge-item {
  border-radius: 20px!important;
  height: 31px;
  padding: 1px 12px;
  margin-top: 5px;
  margin-right: 5px;
}
.badge_shape_3 .t4s-badge-item {
  border-radius: 20px!important;
  height: 31px;
  padding: 1px 12px;
  margin-top: 5px;
  margin-right: 5px;
}
.badge_reverse_color_true .t4s-badge-item {
  background-color: var(--badge-color-secondary);
  color: var(--badge-color-primary);
}

.t4s-badge-sale {
  --badge-color-primary: var(--sale-badge-primary);
  --badge-color-secondary: var(--sale-badge-secondary);
}
.t4s-badge-new {
  --badge-color-primary: var(--new-badge-primary);
  --badge-color-secondary: var(--new-badge-secondary);
}
.t4s-badge-hot {
  --badge-color-primary: var(--hot-badge-primary);
  --badge-color-secondary: var(--hot-badge-secondary);
}
.t4s-badge-soldout {
  --badge-color-primary: var(--soldout-badge-primary);
  --badge-color-secondary: var(--soldout-badge-secondary);
}
.t4s-badge-preorder {
  --badge-color-primary: var(--preorder-badge-primary);
  --badge-color-secondary: var(--preorder-badge-secondary);
}
.t4s-badge-custom {
  --badge-color-primary: var(--custom-badge-primary);
  --badge-color-secondary: var(--custom-badge-secondary);
}

.t4s-product a.t4s-pr-wishlist,
.css_for_wis_app_true .t4s-product .t4s-pr-wishlist {
  color: var(--wishlist-cl);
  background-color: var(--wishlist-bg-cl);
}
.css_for_wis_app_true .t4s-product .t4s-pr-wishlist i {
  color: var(--wishlist-cl);
}
.t4s-product a.t4s-pr-wishlist.is--added,
.css_for_wis_app_true .t4s-product .t4s-pr-wishlist.is--added {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
  color: var(--wishlist-active-cl);
  background-color: var(--wishlist-active-bg-cl);
}
.t4s-product .t4s-pr-compare {
  color: var(--compare-cl);
  background-color: var(--compare-bg-cl);
}
/* .t4s-product .t4s-pr-compare .t4s-svg-pr-icon svg{
    transition: 0.3s ease 0s;
} */

.t4s-product .t4s-pr-quickview {
  color: var(--quickview-cl);
  background-color: var(--quickview-bg-cl);
}
.t4s-product .t4s-pr-addtocart {
  color: var(--atc-cl);
  background-color: var(--atc-bg-cl);
}
.t4s-product .t4s-rte {
  display: none;
}
@-webkit-keyframes beat_heart {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes beat_heart {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.t4s-product .t4s-product-inner {
  overflow: hidden;
  position: relative;
}
.t4s-product .t4s-product-inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--pr-background-overlay);
  z-index: 1;
  transition: 0.5s;
  opacity: 0;
}
.t4s-product.t4s-colors-selected .t4s-product-img .t4s-product-hover-img {
  z-index: 1;
}
.t4s-product.t4s-colors-selected .t4s-product-img .t4s-product-main-img {
  z-index: 2;
  opacity: 1;
  transition: 0.5s ease 0s;
}
.t4s-product .t4s-product-info {
  padding-top: var(--product-title-size);
  padding-bottom: var(--product-space-elements);
}
/*.t4s-product .t4s-product-info .t4s-product-info__inner > *:not(:last-child) {
  margin-bottom: var(--product-space-elements);}*/

.t4s-product-vendor a {
  color: var(--product-vendors-color);
  font-size: 12px;
  font-family: AeonikPro-regular;
}
.t4s-product .t4s-product-countdown {
  border-radius: 20px;
  font-size: 14px;
  line-height: 20px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  color: var(--pr-countdown-color);
  background-color: var(--pr-countdown-bg-color);
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-out 0s;
  transform: translateY(40px);
  margin: auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
}
.t4s-product .t4s-pr-group-variable .t4s-product-countdown {
  display: none !important;
}
.t4s-product .t4s-product-countdown.expired_cdt4 {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.t4s-product .t4s-product-countdown .t4s-pr-countdown-title {
  margin-right: 5px;
}
.t4s-product .t4s-product-countdown > * {
  display: inline-block;
  vertical-align: top;
}
.t4s-product .t4s-product-title {
  font-size: var(--product-title-size);
  font-weight: var(--product-title-weight);
  color: var(--product-title-color);
  font-family: 'Druk Wide'!important;
  text-transform: var(--product-title-style);
  letter-spacing: var(--product-title-spacing);
  line-height: var(--product-title-line-height);
  display: block;
  text-transform:uppercase;
}
.t4s-product .t4s-product-title a {
  color: inherit;
}
.t4s-product .t4s-product-price {
  font-size: var(--product-price-size);
  color: var(--product-price-color);
  font-weight: var(--product-price-weight);
}
.t4s-product .t4s-product-price ins {
  color: var(--product-price-sale-color);
  text-decoration: none;
  margin-inline-start: 5px;
  display: inline-block;
}
.t4s-product .t4s-product-price del {
  font-size: calc(var(--product-price-size) * 0.85);
  margin-top: 3px;
}
.t4s-product .t4s-product-badge {
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}
.t4s-product .t4s-product-badge > [data-badge-sale] {
  display: none;
}
.t4s-sale-pct {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 4;
  pointer-events: none;
}
.t4s-widget__pr .t4s-sale-pct {
  top: 4px;
  left: 4px;
  font-size: 10px;
  line-height: 18px;
  min-width: 36px;
  padding: 0 4px;
}

div#badge-flex {
  position: absolute;
  z-index: 3;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
}
.t4s-product-atc-qty {
  z-index: 3;
  bottom: 0;
  background-color: var(--atc-bg-cl);
  color: var(--atc-cl);
  left: 0;
  transition: 0.5s;
  right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
  max-width: 100%;
}
.t4s-product-atc-qty .t4s-quantity-wrapper {
  display: flex;
  align-items: center;
  height: 35px;
  max-width: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}
.t4s-product .t4s-product-atc-qty a {
  height: 35px;
}
.t4s-pr-style1 .t4s-product-atc-qty .t4s-quantity-wrapper,
.t4s-pr-style1 .t4s-product-atc-qty a {
  height: 33px;
}
.t4s-product-atc-qty .t4s-quantity-wrapper + a,
.t4s-product-atc-qty > a {
  width: calc(100% - 80px);
}
.t4s-product-atc-qty .t4s-quantity-selector {
  min-width: 25px;
  height: 100%;
  display: flex;
  text-align: center;
  padding: 0;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  color: var(--atc-cl);
  background-color: transparent;
}
.t4s-product-atc-qty .t4s-quantity-selector svg.icon {
  width: 8px;
}
.t4s-product-atc-qty input.t4s-quantity-input {
  border: none;
  text-align: center;
  background-color: transparent;
  color: inherit;
  padding: 0;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: center;
  width: 30px;
}
.t4s-product-atc-qty input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
.t4s-product .t4s-product-atc-qty,
.t4s-product .t4s-pr-quickview,
.t4s-product .t4s-pr-compare,
.t4s-product .t4s-pr-wishlist,
.t4s-product .t4s-pr-addtocart {
  border-radius: var(--pr-btn-radius-size);
  pointer-events: auto;
}
.t4s-product .t4s-product-atc-qty .t4s-pr-addtocart {
  border-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
}
.t4s-quantity-wrapper + a.t4s-pr-addtocart .t4s-text-pr {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: auto;
  line-height: 33px;
}
.t4s-product .t4s-product-btns a > span,
.t4s-product .t4s-product-btns2 a > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t4s-product-colors {
  margin: 0 -4px;
}
.t4s-pr-color__item {
  padding: 2px;
  margin: 0 4px;
  border: 1px solid var(--border-sw-color);
  cursor: pointer;
  display: inline-flex;
  vertical-align: top;
}
.swatch_color_style_2 .t4s-pr-color__item {
  border-radius: 100%;
}
.t4s-pr-color__item .t4s-pr-color__name {
  font-size: 0;
  display: none;
}
.t4s-pr-color__item .t4s-pr-color__value {
  display: block;
  width: var(--swatch-color-size);
  height: var(--swatch-color-size);
  text-align: center;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border-radius: 100%;
}
.t4s-product .t4s-product-sizes {
  width: 100%;
  transition: 0.4s;
  line-height: 24px;
  pointer-events: none;
}
.t4s-product .t4s-product-inner .t4s-product-sizes {
  color: var(--size-list-color);
}
.t4s-product-sizes .t4s-truncate > span:not(:last-child) {
  margin-inline-end: 4px;
}
.t4s-product
  .t4s-product-inner
  .t4s-product-sizes
  .t4s-truncate
  > span:not(:last-child) {
  margin-inline-end: 0;
}
.t4s-product
  .t4s-product-inner
  .t4s-product-sizes
  .t4s-truncate
  > span:not(:last-child)::after {
  content: ",";
  display: inline-block;
  margin-inline-end: 4px;
}
.t4s-product .t4s-product-info .t4s-product-sizes {
  margin-top: 4px;
}
.t4s-product:not(.t4s-pr-packery)
  .t4s-product-info
  .t4s-product-sizes
  .t4s-truncate
  > span,
.t4s-pr-packery
  .t4s-product-info__inner
  > .t4s-product-sizes
  .t4s-truncate
  > span {
  min-width: 35px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  border: solid 1px var(--border-color);
  text-align: center;
  line-height: 23px;
  font-size: 10px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: var(--size-list-color-info);
  color: var(--size-list-color-info2);
}
.t4s-product-inner .t4s-product-sizes {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  text-shadow: -1px -1px 1px rgb(255 255 255 / 10%),
    1px 1px 1px rgb(0 0 0 / 15%);
  padding: 0 10px;
}
.t4s-svg-pr-icon svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}
.css_for_wis_app_true .t4s-product .t4s-pr-item-btn .ssw-faveiticon {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.css_for_wis_app_true .t4s-product .t4s-pr-item-btn .ssw-faveiticon i {
  top: 2px;
  left: 1px;
  position: relative;
}
.css_for_wis_app_true
  .t4s-product:not(.t4s-pr-style1)
  .t4s-pr-item-btn
  span.faves-count {
  right: 1px;
  position: absolute;
  top: 1px;
  left: auto;
  border: none;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  font-size: 10px;
  text-align: center;
  transform: none;
}
.css_for_wis_app_true
  .t4s-product:not(.t4s-pr-style1)
  .t4s-pr-item-btn
  span.faves-count::before,
.css_for_wis_app_true
  .t4s-product:not(.t4s-pr-style1)
  .t4s-pr-item-btn
  span.faves-count::after {
  display: none !important;
}
.css_for_wis_app_true .t4s-product .t4s-pr-item-btn span.faves-count {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 5px;
}
.t4s-pr-item-btn .ssw-faveiticon i::before {
  margin: 0;
}

.t4s-product .t4s-product-info__btns,
.t4s-product .t4s-product-btns.t4s-product-info__btns,
.t4s-pr-packery .t4s-product-btns.t4s-product-info__btns {
  display: none !important;
}
.t4s-product .t4s-product-inner .t4s-pr-group-variable {
  position: absolute;
  z-index: 3;
  bottom: 5px;
  left: 10px;
  right: 10px;
  text-align: center;
}
.t4s-product .t4s-product-inner .t4s-pr-group-variable > * {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease 0s;
}
.t4s-product .t4s-product-btns {
  position: absolute;
  z-index: 3;
  transition: 0.5s ease 0s;
  text-align: center;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 12px;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.t4s-product .t4s-product-btns a {
  height: 35px;
  min-width: 35px;
  font-size: 12px;
  text-align: center;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 33px;
  padding: 0 10px;
  display: inline-flex;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.t4s-product .t4s-product-btns a .t4s-text-pr {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
  width: auto;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t4_has_quickview_true .t4s-pr-style1 .t4s-product-inner .t4s-pr-group-variable,
.t4_has_atc_true .t4s-pr-style1 .t4s-product-inner .t4s-pr-group-variable {
  bottom: 45px;
}
.t4s-pr-style1 .t4s-product-btns {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.t4s-pr-style1 .t4s-product-btns a,
.t4s-pr-style1 .t4s-product-btns a .t4s-text-pr {
  height: 33px;
  line-height: 33px;
  display: block;
}
.t4s-pr-style1 .t4s-product-btns > * {
  margin: 0 4px;
  transition: 0.5s ease 0s;
  transform: translateX(-54px);
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-style1 .t4s-product-btns .t4s-pr-quickview {
  transform: translateX(54px);
}
.t4s-pr-style1 .t4s-product-btns a > span {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.25s;
  transition: opacity 0.15s, transform 0.25s, -webkit-transform 0.25s;
}
.t4s-pr-style1 .t4s-product-btns a .t4s-svg-pr-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}
.t4s-product-btns .t4s-pr-group-variable .t4s-product-colors {
  margin-top: 5px;
}
.t4s-pr-style1 .t4s-product-btns .t4s-pr-group-variable {
  min-height: 37px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease 0s;
}
.t4s-product .t4s-product-btns2 {
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  bottom: auto;
}
.t4s-product .t4s-product-btns2 a {
  font-size: 14px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.t4s-product .t4s-product-btns2 a .t4s-text-pr {
  display: none;
}
.t4s-pr-style1 .t4s-product-btns2 .t4s-pr-compare {
  transition: 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}

.t4s-pr-style2 {
  --wishlist-cl: var(--pr-wishlist-color);
  --wishlist-bg-cl: transparent;
  --wishlist-hover-cl: var(--pr-wishlist-color-hover);
  --wishlist-active-cl: var(--pr-wishlist-color-active);
  --wishlist-active-bg-cl: transparent;
  --wishlist-hover-bg-cl: transparent;
}
.t4s-pr-style2 .t4s-product-btns {
  top: 14px;
  right: 14px;
  left: auto;
  bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-style2 .t4s-product-btns > * {
  transform: translate(0);
  margin: 0 0 7px;
  transition: 0.5s ease 0s;
}
.t4s-pr-style2 .t4s-product-btns a {
  min-width: 1px;
  width: 35px;
  height: 35px;
}
.t4s-pr-style2 .t4s-product-btns .t4s-text-pr {
  display: none;
}
.t4s-pr-style2 .t4s-product-btns .t4s-pr-quickview {
  transform: translateY(40px);
}
.t4s-pr-style2 .t4s-product-btns .t4s-pr-compare {
  transform: translateY(-40px);
}
.t4s-pr-style2 .t4s-product-inner .t4s-pr-group-variable {
  position: absolute;
  z-index: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease 0s;
  background-color: var(--t4s-light-color);
  width: calc(100% + 6px);
  bottom: 0;
  left: -3px;
  right: -3px;
  padding: 13px 13px 8px;
}
.t4s-pr-style2 .t4s-pr-top-info {
  display: flex;
  align-items: flex-start;
}
.t4s-pr-style2 .t4s-product-title {
  flex: 1 1 auto;
  padding-right: 5px;
  padding-top: 2px;
}
.t4s-pr-style2 .t4s-pr-wishlist {
  flex: 0 0 auto;
  background-color: transparent !important;
}
.t4s-pr-style2 .t4s-pr-wishlist > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t4s-pr-style2 .t4s-pr-wishlist .t4s-text-pr {
  display: none;
}

.t4_has_quickview_true .t4s-pr-style3 .t4s-product-inner .t4s-pr-group-variable,
.t4_has_atc_true .t4s-pr-style3 .t4s-product-inner .t4s-pr-group-variable {
  bottom: 48px;
}
.t4s-pr-style3 .t4s-product-btns > * {
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-style3 .t4s-product-btns > * {
  transform: translateX(0);
  margin: 0 3.5px;
  transition: 0.5s ease 0s;
  min-width: 35px;
}
.t4s-pr-style3 .t4s-product-btns a {
  min-width: 35px;
  padding: 0;
}
.t4s-pr-style3 .t4s-product-btns a .t4s-text-pr,
.t4s-pr-style3 .t4s-pr-wishlist .t4s-text-pr {
  display: none;
}
.t4s-pr-style3 .t4s-product-btns .t4s-pr-quickview {
  transform: translateX(40px);
}
.t4s-pr-style3 .t4s-product-btns .t4s-pr-compare {
  transform: translateX(-40px);
}

.t4s-pr-style3 .t4s-pr-wishlist {
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  bottom: auto;
  font-size: 14px;
  width: 35px;
  height: 35px;
  text-align: center;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.t4s-pr-style3 .t4s-pr-wishlist > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.t4s-pr-style4 .t4s-product-btns2 {
  top: 14px;
  right: 14px;
  left: auto;
  bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  opacity: 1;
  visibility: visible;
  transform: none;
  z-index: 4;
}

.t4s-pr-style4 .t4s-product-btns2 > * {
  margin: 0 0 5px;
  transition: 0.5s ease 0s;
}
.t4s-pr-style4 .t4s-product-btns2 a {
  padding: 0;
}
.t4s-pr-style4 .t4s-product-btns2 a .t4s-text-pr,
.t4s-pr-style4 .t4s-pr-wishlist .t4s-text-pr {
  display: none;
}
.t4s-pr-style4 .t4s-pr-wishlist > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t4s-pr-style4 .t4s-product-btns2 .t4s-pr-quickview,
.t4s-pr-style4 .t4s-product-btns2 .t4s-pr-compare {
  opacity: 0;
  visibility: visible;
}
.t4s-pr-style4 .t4s-product-btns2 .t4s-pr-quickview {
  transform: translateY(-40px);
}
.t4s-pr-style4 .t4s-product-btns2 .t4s-pr-compare {
  transform: translateY(-80px);
}

.t4s-pr-style4 .t4s-product-info .t4s-product-info__btns {
  display: none;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns) {
  position: relative;
  transform: none;
  justify-content: flex-start;
  bottom: 0;
  text-align: left;
  left: 0;
  right: 0;
}
.t4s-products.t4s-text-center
  .t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns) {
  justify-content: center;
  text-align: center;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns)
  a {
  min-width: 130px;
  width: auto;
  padding: 0 15px;
  transform: translateY(0) !important;
  opacity: 1;
  visibility: visible;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns)
  a
  > span {
  transition: 0.5s ease 0s;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns)
  a
  > .t4s-svg-pr-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(100%);
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns)
  a:hover
  > .t4s-svg-pr-icon {
  transform: translateY(0);
  animation: none !important;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns)
  a
  .t4s-text-pr {
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  line-height: 35px;
  display: block;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  .t4s-product-btns:not(.t4s-product-info__btns)
  a:hover
  .t4s-text-pr {
  transform: translateY(-100%);
}

.t4s-pr-style4 .t4s-product-info > .t4s-product-atc-qty .t4s-pr-addtocart {
  width: calc(100% - 80px);
  padding: 0 15px;
  margin: 0;
}
.t4s-pr-style4 .t4s-product-inner .t4s-product-sizes {
  transform: none;
  padding: 0;
  opacity: 1;
  visibility: visible;
}
.t4s-pr-style4 .t4s-product-inner .t4s-pr-group-variable {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  left: 10px;
  right: 10px;
}
.t4s-pr-style4 .t4s-product-inner .t4s-pr-group-variable .t4s-product-colors,
.t4s-pr-style4 .t4s-product-inner .t4s-pr-group-variable .t4s-product-sizes {
  transform: translateY(100%);
  transition: 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-style4:hover
  .t4s-product-inner
  .t4s-pr-group-variable
  .t4s-product-colors,
.t4s-pr-style4:hover
  .t4s-product-inner
  .t4s-pr-group-variable
  .t4s-product-sizes {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.t4s-pr-style5 .t4s-product-countdown,
.t4s-pr-style5:hover .t4s-product-countdown {
  transform: none;
  bottom: auto;
  font-size: 12px;
  position: static;
  opacity: 1;
  visibility: visible;
  margin: 0;
  padding: 5px;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate,
.t4s-pr-style5
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate {
  display: flex !important;
}
.t4s-text-center
  .t4s-pr-style4
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate,
.t4s-text-center
  .t4s-pr-style5
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate {
  justify-content: center;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate
  > span:not(:last-child)::after,
.t4s-pr-style5
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate
  > span:not(:last-child)::after {
  content: ",";
  display: inline-block;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate
  > span,
.t4s-pr-style5
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes
  .t4s-truncate
  > span {
  color: var(--size-list-color2);
  background-color: transparent;
  border: none;
  width: auto;
  min-width: 1px;
  height: auto;
  line-height: 1;
  font-size: 12px;
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  > .t4s-product-sizes
  .t4s-truncate
  > span,
.t4s-pr-style5
  .t4s-product-info
  .t4s-product-info__inner
  > .t4s-product-sizes
  .t4s-truncate
  > span {
  background-color: var(--size-list-color-info2);
  color: var(--size-list-color-info);
}
.t4s-pr-style4
  .t4s-product-info
  .t4s-product-info__inner
  > .t4s-product-sizes
  .t4s-truncate
  > span::after,
.t4s-pr-style5
  .t4s-product-info
  .t4s-product-info__inner
  > .t4s-product-sizes
  .t4s-truncate
  > span::after {
  display: none;
}

.t4s-pr-style5 .t4s-product-btns {
  top: 14px;
  right: 14px;
  left: auto;
  bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  transform: none;
  z-index: 4;
}
.t4s-pr-style5 .t4s-product-info .t4s-product-info__btns {
  display: none;
}
.t4s-pr-style5 .t4s-product-btns > *:not(.t4s-pr-wishlist) {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: 0.5s ease 0s;
  margin-top: 7px;
}
.t4s-pr-style5:hover .t4s-product-btns > *:not(.t4s-pr-wishlist) {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.t4s-pr-style5 .t4s-product-inner .t4s-product-countdown {
  display: none;
}
.t4s-pr-style6 .t4s-product-inner .t4s-product-btns {
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-style6 .t4s-product-btns a,
.t4s-pr-style6 .t4s-product-btns > * {
  border-radius: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  transition: 0.25s ease 0s;
}
.t4s-pr-style6 .t4s-product-atc-qty .t4s-quantity-wrapper {
  height: 40px;
}
.t4s-pr-style6 .t4s-product-btns a > span {
  transition: 0.25s ease 0s;
}
.t4s-pr-style6 .t4s-product-btns a > .t4s-svg-pr-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(100%);
}
.t4s-pr-style6 .t4s-product-btns a > .t4s-text-pr {
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  line-height: 40px;
  display: block;
}
.t4s-pr-style6 .t4s-product-btns a:hover > .t4s-svg-pr-icon {
  transform: translateY(0);
  animation: none !important;
}
.t4s-pr-style6 .t4s-product-btns a:hover > .t4s-text-pr {
  transform: translateY(-100%);
}
.t4s-pr-style6 .t4s-product-btns2 > * {
  transition: 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-style6 .t4s-product-btns2 > *:nth-child(1) {
  transform: translateX(100%);
}
.t4s-pr-style6 .t4s-product-btns2 > *:nth-child(2) {
  transform: translateX(200%);
}
.t4s-pr-style6 .t4s-product-btns2 > *:nth-child(3) {
  transform: translateX(300%);
}
.t4s-pr-style6 .t4s-product-inner .t4s-pr-group-variable {
  bottom: 40px;
}

.t4s_box_pr_slider.t4s-flickity-slider .flickityt4s-page-dots {
  margin-top: var(--dots-bottom-pos);
}
@media (min-width: 1025px) {
  .t4s-pr-style5 .t4s-product-info {
    position: absolute;
    z-index: 3;
    left: 10px;
    right: 10px;
    padding: 0;
    margin-bottom: 0;
    bottom: calc(var(--product-space-img-txt) - 10px);
    pointer-events: none;
  }
  .t4s-pr-style5 .t4s-product-info > * {
    pointer-events: auto;
  }
  .t4s-products:not(.is--listview) .t4s-pr-style5 .t4s-product-title {
    color: var(--product5-title-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .t4s-products:not(.is--listview) .t4s-pr-style5 .t4s-product-title a:hover {
    color: var(--product5-title-color-hover);
  }
  .t4s-products:not(.is--listview) .t4s-pr-style5 .t4s-product-price {
    color: var(--product5-price-color);
  }
  .t4s-products:not(.is--listview) .t4s-pr-style5 .t4s-product-price ins {
    color: var(--product5-price-sale-color);
  }
  .t4s-products:not(.is--listview) .t4s-pr-style5 .t4s-product-vendor a {
    color: var(--product5-vendors-color);
  }
  .t4s-products:not(.is--listview) .t4s-pr-style5 .t4s-product-vendor a:hover {
    color: var(--product5-vendors-color-hover);
  }
  .t4s-products:not(.is--listview)
    .t4s-pr-style5
    .t4s-product-info
    .t4s-pr-group-variable
    .t4s-product-sizes
    .t4s-truncate
    > span {
    color: var(--size-list-color);
  }
  .t4s-products:not(.is--listview)
    .t4s-pr-style5
    .t4s-product-info
    .t4s-product-info__inner
    > .t4s-product-sizes {
    color: var(--size-list-color-info);
  }
  .t4s-products:not(.is--listview)
    .t4s-pr-style5
    .t4s-product-info
    .t4s-product-info__inner
    > .t4s-product-sizes
    .t4s-truncate
    > span {
    background-color: var(--size-list-color-info);
    color: var(--size-list-color-info2);
  }
}

.t4s-pr-packery .t4s-pr-wishlist > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t4s-pr-packery .t4s-product-btns > * .t4s-text-pr,
.t4s-pr-packery .t4s-pr-wishlist .t4s-text-pr {
  display: none;
}
.t4s-pr-packery .t4s-product-btns {
  top: auto;
  top: 14px;
  bottom: auto;
  right: 14px;
  left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
}
.t4s-pr-packery .t4s-product-btns > * {
  margin: 0 0 5px;
  transition: 0.5s ease 0s;
}
.t4s-pr-packery .t4s-product-btns > * {
  min-width: 1px;
  width: 35px;
  height: 35px;
  position: static;
}
.t4s-pr-packery .t4s-product-btns .t4s-pr-wishlist {
  opacity: 1;
  visibility: visible;
}
.t4s-pr-packery .t4s-product-btns > *:nth-child(2) {
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-packery .t4s-product-btns > *:nth-child(3) {
  transform: translateY(-80px);
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-packery .t4s-product-btns > *:nth-child(4) {
  transform: translateY(-120px);
  opacity: 0;
  visibility: hidden;
}
.t4s-pr-packery .t4s-product-info {
  padding-bottom: 15px;
  padding: 0 20px 10px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: 0.5s ease 0s;
}
.t4s-pr-packery .t4s-product-inner .t4s-product-sizes {
  transform: none;
  padding: 0;
  opacity: 1;
  visibility: visible;
}
.t4s-pr-packery .t4s-product-info .t4s-pr-group-variable .t4s-product-sizes {
  color: var(--size-list-color);
}
.t4s-pr-packery .t4s-product-countdown {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
}

.t4s-pr-packery-item .t4s-product-info,
.t4s-row-cols-lg-5 > .t4s-pr-packery .t4s-product-info,
.t4s-row-cols-lg-6 > .t4s-pr-packery .t4s-product-info {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}
.t4s-container .t4s-row-cols-lg-5 > .t4s-pr-packery .t4s-product-info,
.t4s-container .t4s-row-cols-lg-6 > .t4s-pr-packery .t4s-product-info {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.t4s-pr-packery-item .t4s-pr-wishlist {
  transition: 0.5s ease-in-out 0s;
  transform: translateY(-100%);
}
.t4s-container .t4s-row-cols-lg-5 > .t4s-pr-packery .t4s-product-info,
.t4s-container .t4s-row-cols-lg-6 > .t4s-pr-packery .t4s-product-info {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: var(--product-space-img-txt);
  position: static;
  max-width: 100%;
  width: 100%;
}

.t4s-container .t4s-row-cols-lg-5 > .t4s-product .t4s-product-btns2,
.t4s-container .t4s-row-cols-lg-6 > .t4s-product .t4s-product-btns2,
.t4s-container .t4s-row-cols-lg-5 > .t4s-pr-style3 .t4s-pr-wishlist,
.t4s-container .t4s-row-cols-lg-5 > .t4s-pr-packery .t4s-pr-wishlist,
.t4s-container .t4s-row-cols-lg-6 > .t4s-pr-style3 .t4s-pr-wishlist,
.t4s-container .t4s-row-cols-lg-6 > .t4s-pr-packery .t4s-pr-wishlist {
  top: 5px;
  right: 5px;
}
.t4s-container .t4s-row-cols-lg-5 > .t4s-pr-packery .t4s-product-btns,
.t4s-container .t4s-row-cols-lg-6 > .t4s-pr-packery .t4s-product-btns {
  right: 5px;
  bottom: 0;
}
.t4s-container .t4s-row-cols-lg-5 > .t4s-pr-packery .t4s-product-countdown,
.t4s-container .t4s-row-cols-lg-6 > .t4s-pr-packery .t4s-product-countdown {
  top: auto;
  bottom: 10px;
  transform: translateY(0);
}
.t4s-container
  .t4s-row-cols-lg-5
  > .t4s-pr-packery
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes,
.t4s-container
  .t4s-row-cols-lg-6
  > .t4s-pr-packery
  .t4s-product-info
  .t4s-pr-group-variable
  .t4s-product-sizes {
  color: var(--size-list-color2);
}
.t4s-container .t4s-row-cols-lg-5 > .t4s-pr-style3 .t4s-product-btns > *,
.t4s-container .t4s-row-cols-lg-6 > .t4s-pr-style3 .t4s-product-btns > * {
  margin: 0 1px;
}
.t4s-container
  .t4s-row-cols-lg-5
  > .t4s-pr-style3
  .t4s-product-atc-qty
  .t4s-quantity-wrapper,
.t4s-container
  .t4s-row-cols-lg-6
  > .t4s-pr-style3
  .t4s-product-atc-qty
  .t4s-quantity-wrapper {
  max-width: 70px;
}
.t4s-container
  .t4s-row-cols-lg-5
  > .t4s-pr-style3
  .t4s-product-atc-qty
  .t4s-quantity-selector,
.t4s-container
  .t4s-row-cols-lg-6
  > .t4s-pr-style3
  .t4s-product-atc-qty
  .t4s-quantity-selector {
  min-width: 22px;
}
.t4s-container
  .t4s-row-cols-lg-5
  > .t4s-pr-style3
  .t4s-product-atc-qty
  input.t4s-quantity-input,
.t4s-container
  .t4s-row-cols-lg-6
  > .t4s-pr-style3
  .t4s-product-atc-qty
  input.t4s-quantity-input {
  width: 26px;
}
.t4s-border-pr-true .flickityt4s-prev-next-button {
  top: calc(20px + var(--prev-next-top));
}
.t4s-border-pr-true .t4s-product {
  background-color: var(--t4s-light-color);
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
}
.t4s-border-pr-true .t4s-product::after {
  width: 1px;
  height: calc(100% - 50px);
  background-color: var(--border-color);
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 20px;
}
.t4s-border-pr-true .flickityt4s-page-dots {
  margin-top: 44px;
}
.t4s-border-pr-img-true .t4s-product .t4s-product-img {
  border: solid 1px var(--border-color);
  overflow: hidden;
}
.t4s-prs-footer {
  margin: 40px 0;
}
.t4s-prs-footer .t4s-pagination-wrapper > a,
.t4s-prs-footer .t4s-pagination-wrapper > a::before,
.t4s-prs-footer .t4s-pagination-wrapper > a::after {
  margin-bottom: 0;
  border-radius: 0;
}
.t4s-prs-footer .t4s-pagination-wrapper > a.t4s-btn-rounded-true,
.t4s-prs-footer .t4s-pagination-wrapper > a.t4s-btn-rounded-true::before,
.t4s-prs-footer .t4s-pagination-wrapper > a.t4s-btn-rounded-true::after {
  border-radius: var(--btn-radius);
}
.t4s-has-featured-items .t4s-product:nth-child(1),
.t4s-has-featured-items .t4s-product:nth-child(2),
.t4s-has-featured-items .t4s-product:nth-child(3) {
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  padding-bottom: 30px;
  text-align: center;
}
.t4s-col-inner .t4s_box_pr_slider.t4s-flickity-slider .flickityt4s-page-dots {
  margin-top: 15px;
}
.t4s-col-inner .t4s_box_pr_slider.t4s-flickity-slider .t4s-product {
  padding-bottom: 10px;
}
.t4s-product-sizes--sold-out {
  text-decoration: line-through;
  opacity: 0.6;
}
.t4s-pr-color--sold-out .t4s-pr-color__value {
  position: relative;
  --color-sold-out: #222;
}
.t4s-pr-color--sold-out .t4s-pr-color__value:after {
  content: "";
  width: 90%;
  height: 1px;
  background: var(--color-sold-out);
  display: block;
  position: absolute;
  z-index: 22;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.t4s-pr-color__value.bg_color_white {
  border: 0;
}
.t4s-pr-color--sold-out .bg_color_black,
.t4s-pr-color--sold-out .bg_color_grey,
.t4s-pr-color--sold-out .bg_color_navy {
  --color-sold-out: #ddd;
}
@media (min-width: 1025px) {
  .t4s-has-featured-items .t4s-product:nth-child(1),
  .t4s-has-featured-items .t4s-product:nth-child(2),
  .t4s-has-featured-items .t4s-product:nth-child(3) {
    width: 33.3333% !important;
  }
  .t4s-has-featured-items .t4s-product:nth-child(2) {
    border-left: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .t4s-has-featured-items .t4s-product:nth-child(1),
  .t4s-has-featured-items .t4s-product:nth-child(2) {
    width: 50% !important;
  }
  .t4s-has-featured-items .t4s-product:nth-child(1) {
    border-right: solid 1px var(--border-color);
  }
  .t4s-has-featured-items .t4s-product:nth-child(3) {
    border: none;
  }
  .t4s-gx-md-40 {
    --ts-gutter-x: 40px;
  }
  .t4s-gy-md-40 {
    --ts-gutter-y: 40px;
  }
}
@media (max-width: 767px) {
  .t4s-has-featured-items .t4s-product:nth-child(1) {
    width: 100% !important;
    border: solid 1px var(--border-color);
  }
  .t4s-has-featured-items .t4s-product:nth-child(2),
  .t4s-has-featured-items .t4s-product:nth-child(3) {
    border: none;
  }
  .t4s-pr-color__item .t4s-pr-color__value {
    width: var(--swatch-color-size-mb);
    height: var(--swatch-color-size-mb);
  }
  .t4s-prs-footer {
    margin: 20px 0 40px;
  }
}
@media (max-width: 1024px) {
  .t4s-product .t4s-product-btns,
  .t4s-product:hover .t4s-product-btns,
  .t4s-product .t4s-product-inner:hover .t4s-product-btns,
  .t4s-product:not(.t4s-colors-selected) .t4s-product-btns > *,
  .t4s-product.t4s-colors-selected .t4s-product-inner .t4s-product-btns > *,
  .t4s-product:not(.t4s-colors-selected) .t4s-product-sizes,
  .t4s-product.t4s-colors-selected .t4s-product-inner .t4s-product-sizes,
  .t4s-product .t4s-product-countdown,
  .t4s-product:hover .t4s-product-countdown,
  .t4s-pr-style3 .t4s-product-btns > *,
  .t4s-pr-style1 .t4s-product-btns2 .t4s-pr-compare {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }
  .t4s-product .t4s-product-img {
    overflow: hidden;
  }

  .t4s-product .t4s-product-countdown {
    display: none !important;
  }
  .t4s-product .t4s-pr-group-variable .t4s-product-countdown {
    display: block !important;
    position: static;
    transform: translate(0);
    opacity: 1;
    visibility: visible;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .t4s-pr-style2 .t4s-product-inner .t4s-pr-group-variable.t4s-has-countdown {
    padding-bottom: 0;
  }
  .t4s-pr-style2 .t4s-pr-group-variable .t4s-product-countdown {
    box-shadow: none;
    border-radius: 0;
  }

  .t4s-pr-style4 .t4s-product-inner .t4s-pr-group-variable .t4s-product-colors,
  .t4s-pr-style4 .t4s-product-inner .t4s-pr-group-variable .t4s-product-sizes {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .t4s-pr-style5 .t4s-product-inner .t4s-product-countdown {
    position: absolute;
    z-index: 2;
    bottom: 45px;
    top: auto;
    display: block !important;
  }
  .t4s-pr-style6 .t4s-product-inner .t4s-pr-group-variable {
    bottom: 80px;
  }

  /*Optiminze product*/

  .t4s-product .t4s-product-btns2,
  .t4s-pr-style2 .t4s-product-btns,
  .t4s-pr-style3 .t4s-pr-wishlist,
  .t4s-pr-packery .t4s-pr-wishlist {
    right: 10px;
    top: 10px;
  }
  .t4s-product:not(.t4s-pr-style4):not(.t4s-pr-style6) .t4s-product-btns {
    position: relative;
    bottom: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid 1px var(--border-color);
    border-right: none;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
  }
  .t4s-product:not(.t4s-pr-style4):not(.t4s-pr-style6) .t4s-product-btns > * {
    margin: 0;
    top: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    height: 38px;
    line-height: 38px;
  }
  .t4s-product:not(.t4s-pr-style4):not(.t4s-pr-style6)
    .t4s-product-btns
    > *
    > * {
    line-height: 38px;
  }
  .t4s-product .t4s-product-btns > .t4s-product-atc-qty {
    border-radius: 0;
  }
  .t4s-product .t4s-product-btns > * {
    border-right: solid 1px var(--border-color);
  }
  .t4s-product .t4s-product-btns a {
    width: 100%;
    box-shadow: none;
  }
  .t4s-product:not(.t4s-pr-style4) .t4s-product-btns a {
    border-radius: 0;
  }
  .t4s-product .t4s-product-inner .t4s-pr-group-variable > * {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .t4s-product a .t4s-text-pr,
  .t4s-product .t4s-product-btns a .t4s-text-pr,
  .t4s-pr-style1 .t4s-product-btns a:hover .t4s-text-pr {
    display: none;
  }
  .t4s-pr-style1 .t4s-product-btns > * {
    margin: 0;
  }
  .t4s-pr-style1 .t4s-product-btns > .t4s-product-atc-qty {
    min-width: 70%;
  }
  .t4s-pr-style1 .t4s-product-btns a .t4s-svg-pr-icon {
    transform: translateY(0);
  }
  .t4s-pr-style1 .t4s-product-btns .t4s-pr-group-variable {
    min-height: 0;
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-style2 .t4s-product-inner .t4s-pr-group-variable {
    opacity: 1;
    visibility: visible;
    padding: 5px 0;
    border: solid 1px var(--border-color);
    border-top: 0;
    bottom: 39px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .t4s-pr-style2 .t4s-product-btns > .t4s-product-atc-qty {
    min-width: 60%;
  }
  .t4_has_quickview_false.t4_has_atc_false.t4_compare_false
    .t4s-pr-style2
    .t4s-product-inner
    .t4s-pr-group-variable {
    bottom: 0;
  }
  .t4s-pr-style2 .t4s-product-btns > * {
    margin: 0;
  }

  .t4s-pr-style3 .t4s-product-btns > .t4s-product-atc-qty {
    min-width: 60%;
  }

  .t4s-pr-style4 .t4s-product-inner .t4s-pr-group-variable {
    bottom: 40px;
  }

  .t4s-product.t4s-pr-style4 .t4s-product-btns2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid 1px var(--border-color);
    overflow: hidden;
    top: auto;
    bottom: auto;
    left: 0;
    right: 0;
    padding: 0;
    position: relative;
    top: 100%;
  }
  .t4s-pr-style4 .t4s-product-btns2 a,
  .t4s-pr-style4 .t4s-product-btns2 .t4s-pr-quickview,
  .t4s-pr-style4 .t4s-product-btns2 .t4s-pr-compare {
    transform: translateY(0);
    top: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .t4s-product.t4s-pr-style6 .t4s-product-btns2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid 1px var(--border-color);
    overflow: hidden;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
  }
  .t4_has_quickview_true .t4s-pr-style6 .t4s-product-btns2,
  .t4_has_atc_true .t4s-pr-style6 .t4s-product-btns2 {
    bottom: 40px;
  }
  .t4s-product.t4s-pr-style4 .t4s-product-btns2 > *,
  .t4s-product.t4s-pr-style6 .t4s-product-btns2 > * {
    opacity: 1;
    visibility: visible;
    transform: translate(0) !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    width: auto;
    flex: auto;
    border-radius: 0;
    box-shadow: none;
  }
  .t4s-product.t4s-pr-style4 .t4s-product-btns2 > *:not(:last-child),
  .t4s-product.t4s-pr-style6 .t4s-product-btns2 > *:not(:last-child) {
    border-right: solid 1px var(--border-color);
  }
  .t4s-product.t4s-pr-style6 .t4s-product-btns {
    top: 100%;
    position: relative;
  }
  .t4s-pr-style6 .t4s-product-inner .t4s-product-btns {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }
  .t4s-product.t4s-pr-style6 .t4s-product-btns a > .t4s-text-pr {
    display: block;
  }
  .t4s-product.t4s-pr-packery .t4s-product-btns {
    position: absolute;
    bottom: 0;
    top: auto;
  }
  .t4s-pr-packery .t4s-product-info {
    padding: var(--product-space-img-txt) 0 20px;
    position: static;
    max-width: 100%;
    right: 0;
    left: 0;
    transform: translateY(0);
    bottom: auto;
  }
  .t4s-pr-packery .t4s-product-btns {
    right: 10px;
    top: 10px;
    bottom: auto;
  }
  .t4s-border-pr-img-true
    .t4s-product:not(.t4s-pr-style4):not(.t4s-pr-style6)
    .t4s-product-btns {
    margin-top: -1px;
  }
}
@media (max-width: 767px) {
  /* .t4s-product .t4s-product-btns {
        right: 5px;
        left: 5px;
        bottom: 5px;
        width: calc(100% - 10px);
    } */
  .t4s-product .t4s-product-btns2,
  .t4s-pr-style2 .t4s-product-btns,
  .t4s-pr-style3 .t4s-pr-wishlist,
  .t4s-pr-style4 .t4s-pr-wishlist,
  .t4s-pr-packery .t4s-pr-wishlist {
    right: 5px;
    top: 5px;
    bottom: auto;
  }
  .t4s-pr-style5 .t4s-product-btns {
    bottom: auto;
    top: 5px;
  }
  .t4s-pr-packery .t4s-product-btns {
    top: 5px;
    bottom: auto;
  }
  .t4s-product .t4s-product-countdown {
    left: 5px;
    right: 5px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    border-radius: 10px;
  }
}
@media (-moz-touch-enabled: 0), (hover: hover) and (min-width: 1025px) {
  .t4s-product a.t4s-pr-wishlist:hover,
  .css_for_wis_app_true .t4s-product .t4s-pr-wishlist:hover {
    color: var(--wishlist-hover-cl);
    background-color: var(--wishlist-hover-bg-cl);
  }
  .css_for_wis_app_true .t4s-product .t4s-pr-wishlist:hover i {
    color: var(--wishlist-hover-cl);
  }
  .t4s-product .t4s-pr-compare:hover {
    color: var(--compare-hover-cl);
    background-color: var(--compare-hover-bg-cl);
  }
  .t4s-product .t4s-pr-quickview:hover {
    color: var(--quickview-hover-cl);
    background-color: var(--quickview-hover-bg-cl);
  }
  .t4s-product .t4s-pr-addtocart:hover {
    color: var(--atc-hover-cl);
    background-color: var(--atc-hover-bg-cl);
  }
  .t4s-product:not(.t4s-pr-style1):not(.t4s-pr-packery)
    .t4s-product-btns
    .t4s-pr-item-btn:hover
    .t4s-svg-pr-icon,
  .t4s-product .t4s-product-btns2 .t4s-pr-item-btn:hover .t4s-svg-pr-icon {
    -webkit-animation: 0.6s ease-in-out infinite beat_heart;
    animation: 0.6s ease-in-out infinite beat_heart;
  }
  .t4s-product:hover .t4s-product-inner::before {
    opacity: 1;
  }
  .t4s-product-vendor a:hover {
    color: var(--product-vendors-color-hover);
  }
  .t4s-product:not(:hover) .t4s-product-countdown,
  .t4s-pr-style5:hover .t4s-product-countdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 3;
  }
  .t4s-product:not(.t4s-pr-style5):hover .t4s-product-countdown {
    opacity: 0;
    visibility: hidden;
  }
  .t4s-product .t4s-product-title a:hover {
    color: var(--product-title-color-hover);
  }
  .t4s-product:not(.t4s-colors-selected):hover .t4s-product-btns,
  .t4s-product.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns,
  .t4s-product:not(.t4s-colors-selected):hover
    .t4s-product-inner
    .t4s-pr-group-variable
    > *,
  .t4s-product.t4s-colors-selected
    .t4s-product-inner:hover
    .t4s-pr-group-variable
    > * {
    opacity: 1;
    visibility: visible;
  }
  .t4s-product-atc-qty .t4s-quantity-selector:hover,
  .t4s-product-atc-qty input.t4s-quantity-input:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  .t4s-pr-color__item:hover,
  .t4s-pr-color__item.is-swatch--selected {
    border-color: var(--primary-sw-color);
  }
  .t4s-pr-color__item.is--colors-more:hover {
    background-color: transparent;
    border-color: var(--primary-sw-color);
  }
  .t4s-product:not(.t4s-pr-packery)
    .t4s-product-info
    .t4s-product-sizes
    .t4s-truncate
    > span:hover,
  .t4s-pr-packery
    .t4s-product-info__inner
    > .t4s-product-sizes
    .t4s-truncate
    > span:hover {
    border-color: var(--t4s-dark-color);
  }
  .t4s-product:not(.t4s-colors-selected):hover .t4s-product-sizes,
  .t4s-product.t4s-colors-selected .t4s-product-inner:hover .t4s-product-sizes {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .t4s-product:not(.t4s-colors-selected):hover .t4s-product-btns > *,
  .t4s-product.t4s-colors-selected
    .t4s-product-inner:hover
    .t4s-product-btns
    > * {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .t4s-pr-style1 .t4s-product-btns a:hover .t4s-svg-pr-icon {
    transform: translateY(0);
  }
  .t4s-pr-style1 .t4s-product-btns a:hover .t4s-text-pr {
    transform: translateY(-100%);
  }
  .t4s-pr-style1:hover .t4s-product-btns .t4s-pr-group-variable {
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-style1:hover .t4s-product-btns2 .t4s-pr-compare {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
  .t4s-pr-style2:hover .t4s-product-btns {
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-style2:hover .t4s-product-btns .t4s-pr-quickview,
  .t4s-pr-style2:hover .t4s-product-btns .t4s-pr-compare {
    transform: translate(0);
  }
  .t4s-pr-style2:hover .t4s-product-inner .t4s-pr-group-variable {
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-style3:hover .t4s-product-btns > * {
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-style3:hover .t4s-product-btns .t4s-pr-quickview,
  .t4s-pr-style3:hover .t4s-product-btns .t4s-pr-compare {
    transform: translateX(0);
  }
  .t4s-pr-style4:hover .t4s-product-btns2 a {
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-style4:not(.t4s-colors-selected):hover
    .t4s-product-btns2
    .t4s-pr-quickview,
  .t4s-pr-style4.t4s-colors-selected
    .t4s-product-inner:hover:hover
    .t4s-product-btns2
    .t4s-pr-quickview,
  .t4s-pr-style4:not(.t4s-colors-selected):hover
    .t4s-product-btns2
    .t4s-pr-compare,
  .t4s-pr-style4.t4s-colors-selected
    .t4s-product-inner:hover:hover
    .t4s-product-btns2
    .t4s-pr-compare {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-style6:not(.t4s-colors-selected):hover .t4s-product-btns,
  .t4s-pr-style6.t4s-colors-selected .t4s-product-inner:hover .t4s-product-btns,
  .t4s-pr-style7.t4s-colors-selected:hover
    .t4s-product-inner
    .t4s-product-btns {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .t4s-pr-style6:not(.t4s-colors-selected):hover .t4s-product-btns2 > *,
  .t4s-pr-style6.t4s-colors-selected
    .t4s-product-inner:hover
    .t4s-product-btns2
    > * {
    transform: translateX(0) !important;
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-packery:hover .t4s-product-info {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .t4s-pr-packery:hover .t4s-product-btns a {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }
  .t4s-pr-packery:hover .t4s-product-btns .t4s-pr-quickview,
  .t4s-pr-packery:hover .t4s-product-btns .t4s-pr-compare {
    transform: translate(0);
  }
  .t4s-pr-packery-item:hover .t4s-product-info {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .t4s-pr-packery-item:hover .t4s-pr-wishlist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .t4s-container
    .t4s-row-cols-lg-5
    > .t4s-pr-packery:hover
    .t4s-product-countdown,
  .t4s-container
    .t4s-row-cols-lg-6
    > .t4s-pr-packery:hover
    .t4s-product-countdown {
    transform: translateY(100%);
  }
  .t4s-product
    .t4s-product-inner
    .t4s-pr-group-variable
    .t4s-product-colors:only-child {
    margin-bottom: 5px;
  }
}
